<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"  lang="en" class=" js ">
<body>
	<header th:fragment="headerdashboard" id="header" role="banner" class="main-header">
		<div class="textedivimgHeader centrer white">PROFESSIONNEL</div>
		<div class="divimgHeader">
			<div class="imgHeaderLeft"></div>
			<div class="imgHeader">
				<img th:src="@{/img/IMG_HEADER.jpg}">
			</div>
			<div class="imgHeaderRight"></div>
		</div>
		<section class="menu centrer">
			<a th:href="@{/pro/proDashboard}" class="imgLogo"> <img class="imgLogoPlateo"
				alt="logo Plateo" th:src="@{/img/LOGO-BD.png}"> <img
				class="imgLogoText" alt="logo textuel Plateo"
				th:src="@{/img/logo-texte-BD.png}">
			</a>
			<nav>
				<ul class="menuUl">
					<div class="dropdown">
						<li>
							<a href="" class="texteDropDown"> <!-- th:href="@{/public/registration}" -->
								<img th:src="@{/img/DEVIS.jpg}">
								<span>Devis et factures</span>
							</a>
							<div class="dropdown-content">
	     						<!--<a th:href="@{/pro/estimatesProfessionList}">Demandes de devis sur mes corps d'état</a>-->
	      						<a th:href="@{/pro/estimatesRequestList}">Liste totale des demandes de devis</a>
	      						<a th:href="@{/pro/estimatesAwaitingList}">Devis en attente de validation client</a>
	      						<a th:href="@{/pro/estimatesDirectList}">Mes demandes de devis direct</a>
	      						<a th:href="@{/pro/estimatesAcceptedList}">Mes devis validés</a>
	      						<a th:href="@{/pro/estimatesConvertedList}">Mes factures</a>
	    					</div>
	    				</li>
	    			</div>
					<div class="dropdown" th:if="${#request.userPrincipal}">
						<li>
							<a href="" class="texteDropDown">
								<img th:src="@{/img/PROFIL.jpg}">
								<div>
									<span class="textName" th:text="${pro.managerLastname}"  />
									<span class="textName" th:text="${pro.managerFirstname}" />
								</div>
							</a>
							<div class="dropdown-content">
								<a th:href="@{/pro/proProfile/{id}(id=${pro.id})}">Visualiser ma page</a>
	     						<a th:href="@{/pro/proEdit/{id}(id=${pro.id})}">Modifier mon profil</a>
								<form th:action="@{/pro/logout}" method="post">
									<button class="buttonFauxA" type="submit">Me déconnecter</button>
								</form>
							</div>
						</li>
					</div>
	    			<!-- ----------------FIN MODIFS------------------- -->
				</ul>
			</nav>
		</section>
		<div class="sousMenu"></div>
		<script type="text/javascript" th:src="@{/js/asupp.js}"></script>
	</header>
</body>
</html>