<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">


<body>
	<header th:fragment="headerdashboard">
		<div class="textedivimgHeader centrer white">PROFESSIONNEL</div>
		<div class="divimgHeader">
			<div class="imgHeaderLeft"></div>

			<div class="imgHeader">
				<img th:src="@{/img/IMG_HEADER.jpg}">
			</div>

			<div class="imgHeaderRight"></div>
			
		</div>




		<section class="menu centrer">
			<a th:href="@{/}" class="imgLogo"> <img class="imgLogoPlateo"
				alt="logo Plateo" th:src="@{/img/LOGO-BD.png}"> <img
				class="imgLogoText" alt="logo textuel Plateo"
				th:src="@{/img/logo-texte-BD.png}">
			</a>
			<nav>
				<ul class="menuUl">
					<li><a href=""> <img th:src="@{/img/LOUPE.jpg}">
							<p>Rechercher une</p>
							<p>demande de devis</p>
					</a></li>
					<li><a href=""> <img th:src="@{/img/DEVIS.jpg}">
							<p>Mes devis</p>
							<p>en cours</p>
					</a></li>
					<li><a href=""> <img th:src="@{/img/COEUR.jpg}">
							<p>Mes factures</p>
					</a></li>

					<li><a class="textIdentifier" href=""> <img
							th:src="@{/img/PROFIL.jpg}">
							<p>Modifier mon profil</p>
					</a></li>
				</ul>
			</nav>
			<div class="navbar-nav flex-row" th:if="${#request.userPrincipal}">
				<span class="nav-link d-inline-flex align-items-center p-2"
					th:text="${#request.userPrincipal.principal.username}"></span>
				<form th:action="@{/pro/logout}" method="post"
					class="form-inline my-2 my-lg-0">
					<button class="btn bgOrange my-2 my-sm-0" type="submit">Déconnexion</button>
				</form>
			</div>
		</section>

		<div class="sousMenu"></div>
	</header>
</body>
</html>