<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">

<body>
	<header th:fragment="headerdashboard">
		<div class="textedivimgHeader centrer white">PROFESSIONNEL</div>
		<div class="divimgHeader">
			<div class="imgHeaderLeft"></div>

			<div class="imgHeader">
				<img th:src="@{/img/IMG_HEADER.jpg}">
			</div>

			<div class="imgHeaderRight"></div>
			
		</div>

		<section class="menu centrer">
			<a th:href="@{/pro/proDashboard}" class="imgLogo"> <img class="imgLogoPlateo"
				alt="logo Plateo" th:src="@{/img/LOGO-BD.png}"> <img
				class="imgLogoText" alt="logo textuel Plateo"
				th:src="@{/img/logo-texte-BD.png}">
			</a>
			<nav>
				<ul class="menuUl">
					<div class="dropdown">
						<li>
							<a href="" class="texteDropDown"> <!-- th:href="@{/public/registration}" -->
								<img th:src="@{/img/DEVIS.jpg}">
								<span>Devis et factures</span>
							</a>
							<div class="dropdown-content">
	     						<a th:href="@{/pro/estimatesAllList}">Liste totale des devis</a>
	      						<a th:href="@{/pro/estimatesRequestList}">Demande de devis en cours</a>
	      						<a th:href="@{/pro/estimatesAcceptedList}">Mes devis validés</a>
	      						<a th:href="@{/pro/estimatesConvertedList}">Mes factures</a>
	    					</div>
	    				</li>
	    			</div>
					<div class="dropdown" th:if="${#request.userPrincipal}">
						<li>
							<a href="" class="texteDropDown">
								<img th:src="@{/img/PROFIL.jpg}">
								<div>
									<span class="textName" th:text="${pro.managerLastname}"  />
									<span class="textName" th:text="${pro.managerFirstname}" />
								</div>
							</a>
							<div class="dropdown-content">
								<a th:href="@{/public/proProfile/{id}(id=${pro.id})}">Visualiser ma page</a>
	     						<a th:href="@{/pro/proEdit/{id}(id=${pro.id})}">Modifier mon profil</a>
								<form th:action="@{/pro/logout}" method="post">
									<button class="buttonFauxA" type="submit">Me déconnecter</button>
								</form>
							</div>
						</li>
					</div>
	    			<!-- ----------------FIN MODIFS------------------- -->
				</ul>
			</nav>
		</section>

		<div class="sousMenu"></div>
	</header>
</body>
</html>