<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="public/head :: head"></head>
<head>
	<link th:href="@{/css/stylePro.css}" rel="stylesheet" type="text/css" >
</head>
<body>
	<header th:replace="pro/headerdashboard :: headerdashboard">-	
	</header>
	
	
	
	          <!-- start feedwind code --> <script type="text/javascript" src="https://feed.mikle.com/js/fw-loader.js" data-fw-param="120330/"></script> <!-- end feedwind code -->
	
	<footer th:replace="public/footer :: footer">
	</footer>
			
</body>
</html>
