<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="public/head :: head"></head>
<head>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/stylePro.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/styleFormulairePro.css}" rel="stylesheet"
	type="text/css">
</head>
<body>
	<header th:replace="pro/headerdashboard :: headerdashboard"></header>
	
	
	
	<section class="sectionNouvClient section100pour100 centrer">

				<div style="background-color: #ff9500; margin-top: 40px; margin-bottom: 40px">
					<h1 class="blue titre-formulaires ">Demande de travaux</h1>
				</div>

		<div class="centrer carreBlanc">
				
					
			<form class="centrer sectionFormClient" th:action="@{/pro/proEstimateDetails/} + ${estimateId}"
				th:object="${estimate}" method="post">
				
				<div style="margin-bottom: 40px;">
					<h2 th:text=" 'Devis numéro: '  + ${estimateId}" class="blue titre-formulaires "></h2>
				</div>
				
				  
					
				
				<div>
					<h2 class="blue titre-formulaires ">Informations client</h2>
				</div>
				
				<div class="sectionForm" style="margin-left: 40px; border: 2px solid black">

					<div class="formIdentifierRight">
				
								
						<div class="formIdentifier left">
								<span class="col-form-label labelForm" th:text="'numéro client : ' + ${client.id}"></span>
								<span class="col-form-label labelForm" th:text="${client.clientLastname} 
								+ ' ' + ${client.clientFirstname}"></span>  						 
								<span class="col-form-label labelForm" th:text="${client.clientAddress}
								 + ' ' + ${client.clientPostcode} + ' ' + ${client.clientCity}"></span>
						</div>
					</div>
				</div>
				
					<div>
						<h2 class="blue titre-formulaires " style="margin-top: 100px;">Prestations demandées et prix unitaires</h2>
					</div>
												
					<div class="container">
						<div th:each="service: ${services}">
							<h2 th:text="${service.key.name}" style="margin-top: 30px; margin-bottom: 30px"></h2>
							<div th:each="prop: ${service.value}" style="margin-top: 15px;">
								<label for="${prop.key}" th:if="${prop.value}"   th:text="${prop.key} + ' :'"
								 class="col-form-label blue labelForm"></label>
								<input th:if="${prop.value}" type="text" id="${prop.key}" class="champsFormulaire"
								placeholder="Prix Unitaire(HT)" name="${prop.key}" required/>
								<label for="workforce" class="col-form-label blue labelForm">Frais de main-d'oeuvre :</label>
								<input type="text" id="workforce" name="workforce" class="champsFormulaire"
								placeholder="Prix Unitaire(HT)"><br>					
								<label for="travelCharge" class="col-form-label blue labelForm">Frais de déplacement :</label>
								<input type="text" id="travelCharge" name="travelCharge" class="champsFormulaire"
								placeholder="Prix Unitaire(HT)"><br>
							</div>
						</div>
							
														
							<label for="totalHT" class="col-form-label blue labelForm">Total HT : </label>
							<input type="text" id="totalHT" name="totalHT" class="champsFormulaire"
								placeholder="totalHT"><br>
							<label for="totalTVA" class="col-form-label blue labelForm">Total TVA : </label>
							<input type="text" id="totalTVA" name="totalTVA" class="champsFormulaire"
								placeholder="totalTva"><br>
							<label for="totalTTC" class="col-form-label blue labelForm">Total TTC : </label>
							<input type="text" id="totalTTC" name="totalTTC" class="champsFormulaire"
								placeholder="totalTTC"><br>
							<label for="validityDate" class="col-form-label blue labelForm">Date de validité :</label>
							<input type="date" id="validityDate" name="validityDate" class="champsFormulaire"><br>
					</div>
				
				
				
				<div style="margin-top: 60px; margin-bottom: 30px">
					<h2 class="blue titre-formulaires ">Informations complémentaires</h2>
				</div>

				<div class="centrer sectionForm">

					<div class="formIdentifierLeft">
						
						<div class="form-group formIdentifier left">
							<label for="workAddress" class="col-form-label blue labelForm">Adresse
								du chantier</label> <input type="text" id="workAddress"
								name="workAddress" th:field="*{workAddress}"
								class="champsFormulaire" disabled />
						</div>

						<div class="form-group formIdentifier left">
							<label for="workPostcode" class="col-form-label blue labelForm">Code
								postal</label> <input type="text" pattern="[0-9]{5}" id="workPostcode"
								name="workPostcode" th:field="*{workPostcode}"
								placeholder="Saisir code postal" class="champsFormulaire"
								disabled />
						</div>

						<div class="form-group formIdentifier left">
							<label for="workCity" class="col-form-label blue labelForm">Ville</label>
							<input type="text" id="workCity" th:field="*{workCity}"
								name="workCity" class="champsFormulaire"
								placeholder="Saisir ville" disabled />
						</div>

						<div class="form-group formIdentifier left">
							<label for="workComment" class="col-form-label blue labelForm">Commentaires</label>
							<textarea rows="5" cols="50" maxlength="255" id="workComment"
								th:field="*{workComment}" class="champsFormulaire"
								placeholder="Commentaires" disabled></textarea>
						</div>
						
					</div>
					
					

					<div class="formIdentifierRight">
						<div class="form-group formIdentifier left">
							<label for="beginDate" class="col-form-label blue labelForm">Date
								début chantier</label> <input type="date" id="beginDate"
								th:field="*{beginDate}" class="champsFormulaire"
								placeholder="Saisir date début chantier" disabled />
						</div>
						<div class="form-group formIdentifier left">
							<label for="workDeadline" class="col-form-label blue labelForm">Date
								fin chantier prévu</label> <input type="date" id="workDeadline"
								th:field="*{workDeadline}" class="champsFormulaire"
								placeholder="Saisir date fin chantier prévu" disabled />
						</div>
						<div class="form-group formIdentifier left">
							<label for="accessDescription"
								class="col-form-label blue labelForm">Description accès</label>
							<input type="text" id="accessDescription"
								th:field="*{accessDescription}" class="champsFormulaire"
								placeholder="Description accès" disabled/>
						</div>
						
						<div class="form-group formIdentifier left">
							<label for="usableParkingSpace"
								class="col-form-label blue labelForm">Parking</label> <input
								type="text" th:field="*{usableParkingSpace}"
								id="usableParkingSpace" class="champsFormulaire"
								placeholder="Parking" disabled/>
						</div>
						
						<div class="form-group formIdentifier left">
							<input type="hidden" th:field="*{id}" id="id"
								class="champsFormulaire" />
						</div>
						
						<div class="form-group formIdentifier left">
							<input type="hidden" th:field="*{client.id}" id="clientid"
								class="champsFormulaire" />
						</div>												
					</div>					
				</div>
				
				
				<div align="center">
							<button type="submit" name="estimate" value="creatEstimate"
								class="btn btn-primary" style="margin-bottom: 50px;">Création du devis</button>
				</div>
					
			</form>
		</div>
	</section>

</body>
</html>