<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="public/head :: head"></head>
<head>
<link th:href="@{/css/styleLogin.css}" rel="stylesheet" type="text/css">
</head>
<body>

	<div th:fragment="proeditpassword">
		<div id="loginModal" class="modal fade" data-keyboard="false"
			data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
			<!--  <div class="modal fade" id="loginClientModal" data-keyboard="false" data-backdrop="static" >-->

			<div class="modal-dialog">
				<div class="modal-content overFlowHidden">

					<div class="bggreyClair headermodal">
						<h3 class="white centrer">
							<strong>PROFESSIONNEL</strong>
						</h3>

						<!-- <a th:href="@{/}">&times;</a> -->
						<button type="button" class="close btnModal" data-dismiss="modal">
							<span>&times;</span>
						</button>
					</div>

					<div class="modal-body">
						<div class="identifier-login centrer">

							<form class="formIdentifier centrer" role="form" autocomplete="off" id="formLogin"
								th:object="${pro}" th:action="@{/pro/proEditPassword}"
								method="POST">

								<div class="form-group formIdentifier">
									<input type="hidden" id="proId" name="id" th:field="*{id}"
										class="champsFormulaire" />


									<!-- message -->
									<div th:if="${msg eq 'fail'}"
										class="alert alert-danger alert-dismissable">
										<strong>Les 2 mots de passes ne correspondent pas</strong>
									</div>
									
									<div class="form-group">
										<input type="password" placeholder="Nouveau mot de passe"
											class="form-control" name="password" id="password"
											minlength="6" required>
										<!-- <div class="invalid-feedback">Mot de passe incorrect</div> -->
									</div>
									<div class="form-group">
										<input type="password"
											placeholder="Confirmez nouveau mot de passe"
											class="form-control" name="confirmpassword"
											id="confirmpassword" minlength="6" required>
										<!-- <div class="invalid-feedback">Mot de passe incorrect</div> -->
									</div>
									<div class="form-group" align="center">
										<button type="submit"
											class="btn btn-success btn-lg float-right" id="btnLogin">Valider</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>