<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="head :: headBoot">
<body>

<!-- code postal -->
<!--
<!-- mot de passe 2 fois, il faut que les 2 mots de passes soit identiques (validation check VERT) -->
<!-- email -->
<form method="get" th:action="@{/pro/dashboardPro}">
    <fieldset>
        <label for="nom_societe">Dénomination social </label>
        <input id="nom_societe" name="nom_societe" type="text" placeholder="Nom société" required>
        <hr>
        <label for="nom_gerant">Nom du gérant </label>
        <input id="nom_gerant" name="nom_gerant" type="text" placeholder="Nom du gérant" required>
        <hr>
        <label for="prenom_gerant">Prénom du gérant </label>
        <input id="prenom_gerant" name="prenom_gerant" type="text" placeholder="Prénom du gérant" required>
        <hr>
        <label for="siren">SIREN  </label>
        <input id="siren" name="siren" type="number" placeholder="" pattern="[0-9]{9}"
       required>>
        <hr>
         <label for="code_postal">Code Postal  </label>
        <input id="code_postal" name="code_postal" type="number" placeholder="" pattern="[0-9]{5}"
       required>>
        <hr>
        <label for="number">Your doctor's number: </label>
        <input id="number" name="number" type="number" placeholder="0">
        <hr>
        <input type="submit" value="Sign In">
    </fieldset>
</form>
</body>
</html>