<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="public/head :: head"></head>
<head>
<link th:href="@{/css/styleLogin.css}" rel="stylesheet" type="text/css">
</head>


<body>
	<header th:replace="public/header :: header"></header>
	<div th:fragment="clientlogin">

		<section
			class="sectionIdentifier sectionplusProduits section100pour100 centrer">

			<!--  <div class="centrer section100pour100 carrePlusProduits">-->
			<div class="plusProduits centrer section100pour100">
				<img class="imgindex" alt="index Plateo"
					th:src="@{/img/img-index.jpg}">
				<div class="plusProduitsClient bgBlue section100pour100"></div>
				<div class="plusProduitsPro bgOrange section100pour100"></div>
			</div>
			<!--  </div> -->
			<div class="divVide"></div>
		</section>

		<div id="loginModal" class="modal fade" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">

						<a th:href="@{/}" class="imgLogo"> <img class="imgLogoPlateo"
							alt="logo Plateo" th:src="@{/img/LOGO-BD.png}"> <img
							class="imgLogoText" alt="logo textuel Plateo"
							th:src="@{/img/logo-texte-BD.png}">
						</a>

						<a th:href="@{/}">X</a>

					</div>

					<div class="modal-body">

						<!---->
						<div class="identifier centrer">
							<h2 class="blue"><strong>PROFESSIONNEL</strong></h2>
							<h2 class="blue">Identifiez-vous</h2>

							<form class="formIdentifier centrer"
								th:action="@{/pro/proLogin}" method="post">

								<input type="email" name="email" class="champsFormulaire"
									placeholder="Saisir adresse email"> <input
									type="password" name="password" class="champsFormulaire"
									placeholder="Saisir mot de passe">

								<button class="btn bgOrange" type="submit">Valider</button><br>
								
								<a th:href="@{/password/proForgotPassword}">Mot de passe oublié							
								</a>

								<div th:if="${param.error}" class="alert alert-danger"
									role="alert">Utilisateur ou mot de passe incorrect</div>

								<div th:if="${param.logout}" class="alert alert-success"
									role="alert">Vous avez été déconnecté avec succès</div>
							</form>

							<h4 class="greyClair">‒ ou ‒</h4>


							<a th:href="@{/public/proForm}">
								<button class="btn btnPro btnWidthLong bgOrange">Créez un compte</button>
							</a>
							
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		$('#loginModal').modal('show')
	</script>

</body>
</html>