<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="pro/head :: head">
</head>

<body>
	<header th:replace="pro/headerblanck :: headerblanck"> </header>
	<section class="sectionIdentifier section100pour100 centrer">
		<!---->
		<div class="identifier centrer">
			<h2 class="blue">PROFESSIONNEL</h2>
			<h2 class="blue">Identifiez-vous</h2>

			<form class="formIdentifier centrer" th:action="@{/pro/proLogin}"
				method="post">
				
					<input type="email" name="email" class="champsFormulaire"
						placeholder="Saisir adresse email"> <input type="password"
						name="password" class="champsFormulaire"
						placeholder="Saisir mot de passe">

					<button class="btn bgOrange" type="submit">Valider</button>
				
				<div th:if="${param.error}" class="alert alert-danger" role="alert">Utilisateur
					ou mot de passe incorrect</div>

				<div th:if="${param.logout}" class="alert alert-success"
					role="alert">Vous avez été déconnecté avec succès</div>
			</form>

			<h4 class="greyClair">‒ ou ‒</h4>
			<h2 class="h2creerCompte blue">Créez un compte</h2>

			<a th:href="@{/public/proForm}">
				<button class="btn btnPro btnWidthLong bgOrange">PROFESSIONNEL</button>
			</a>
		</div>
	</section>
	<footer th:replace="public/footer :: footer"> </footer>

</body>