<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="public/head :: head"></head>
<head>
  	<link th:href="@{/css/styleLogin.css}" rel="stylesheet" type="text/css"> 
  <!--  <link th:href="@{/css/styleEditPro.css}" rel="stylesheet" type="text/css"> --> 
	<link th:href="@{/css/styleFormulaireClient.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/css/stylePro.css}" rel="stylesheet" type="text/css" >
	<link th:href="@{/css/designCss.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<header th:replace="pro/headerdashboard :: header"></header>
	
	 <div class="top-content">
	     <div class="inner-bg">
	         <div class="container containerMaxWidth">
	             <div class="row centrer">
	                 <div class="col-sm-8 col-sm-offset-2 text centrer">
	                     <h1 class="nomSocieteProfil" th:text="${pro.companyName}">Nom de la société</h1>
	                 </div>
	             </div>
	             <div class="row centrer">
	             	<div class="form-box form-boxProProfil">
	 <!----------------- TOP morceau de photo ------------------>
	             		<div class="form-top">
		             		<div th:if="${not #lists.isEmpty(photos)}">
								<div th:each="photo, iterStat: ${photos}">
				   	    			<img th:if="${iterStat.index == 0}" th:src="${photo[0]}" th:id="@{${photo[0]}}" style="width:200px;" class="b-1">
								</div>
							</div>
	             		</div>
	             		<div class="form-bottom">
	                     <!----------------- ZONE LOGO COORDONNEES ------------------>
							<div class="divImgLogoProfil">
								 <img th:src="${logo}" class="imgLogoProfil">
							</div>
							<div class="textH3Profil">
								<h3 class="white">
									Gérant.
									<span class="" th:text="${pro.managerLastname}"  />
									<span class="" th:text="${pro.managerFirstname}" />
								</h3>
							</div>
		<!----------------- ZONE GALERIE ------------------>
							<div class="row rowCarouselQRCODE">
								<div class="myRowCarousel">
									<div id="myCarousel" class="carousel slide" data-ride="carousel">
						  			<!-- Indicators -->
										<ol class="carousel-indicators"  th:if="${photo != null}">
									    	<li data-target="#myCarousel" th:each="photo, iterStat: ${photos}" th:data-slide-to="${iterStat.index}">
									  	</ol>
									  	<!-- Wrapper for slides -->
									  	<div class="carousel-inner">
									  		<div th:each="photo, iterStat:${photos}" th:class="${iterStat.index}== 0 ? 'carousel-item active':'carousel-item'">
									  			<img th:src="${photo[0]}" class="d-block">
											</div>
										</div>
									  	<!-- Left and right controls -->
									  	<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev" th:if="${photo != null}">
					    					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					    					<span class="sr-only">Previous</span>
					  					</a>
										<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next" th:if="${photo != null}">
										    <span class="carousel-control-next-icon" aria-hidden="true"></span>
										    <span class="sr-only">Next</span>
										</a>
							  		</div>
								  	
								</div>
								
			<!---------------------- Localisation géographique --------------------------->	
								<div class="adresseQrcode white" th:object="${pro}">	
									<div class="textProfil white">
										Adresse :
										<span th:text="${pro.proAddress}">,</span>
										<br/>
										Ville :
										<strong><span th:text="${pro.proCity}"></span></strong> - 
										<span th:text="${pro.proPostcode}"></span>
										<br/>
										Adresse Email :
										<span th:text="*{proEmailAddress}"></span>
										<br/>
										<br/>
										<span th:text="*{activityDescription}"></span>
										<br/>
										<br/>
									</div> 
									téléchargez les coordonnées en scannant le QRCODE :
									<button class="btn btnQrcode" type="button" data-toggle="modal" data-target="#modalQrcode">Afficher le QRCODE</button>
								</div>
							</div>
		<!----------------- MODAL QRCODE ------------------>
							<div class="modal fade" id="modalQrcode" data-keyboard="false"
									data-backdrop="static">
						 		<div class="modal-dialog">
						    		<div class="modal-content overFlowHidden">
						    			<div class="bggreyClair headermodal">
											<h3 class="white centrer"><strong>QRCODE</strong></h3>
											<button type="button" class="close btnModal" data-dismiss="modal">
												<span>&times;</span>
											</button>	
										</div>
						      			<div id="modalQ" class="modal-body">
						      				<img th:src="@{https://api.qrserver.com/v1/create-qr-code/?data=}+${pro.proEmailAddress}+${pro.managerLastname}"
						      						alt="Scannez-moi" title="QRcode" />
							      		</div>
						    		</div>
						  		</div>
							</div>
				         </div>
				      </div>
				   </div>
	         </div>
	     </div>
	</div>
	<div class="backstretch">
		<img src="/img/1.jpg">
	</div>
       <!-- Footer -->
       <footer th:replace="public/footer :: footer"></footer>
       
       <script th:src="@{/js/scripts.js}"></script>
       <script th:inline="javascript">
		/*<![CDATA[*/
		function setImage() {
			  var e = document.getElementById('mySelect');
			  document.getElementById('myImage').src = e.options[e.selectedIndex].value;
			}
		function resizeImage(){
			var i = 0;
			var image;
		    /*[# th:each="photo: ${photos}"]*/
		        image = document.getElementById('img-wrapper'+i),
			    ranger = document.getElementById('mySlider');
		        image.style.width = (200+(mySlider.value / 1)*100)+'px';
			  	i++;
		    /*[/]*/
		}
		/*]]>*/
	</script>
</body>
</html>