<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="public/head :: head"></head>
<head>
<link th:href="@{/css/styleLogin.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<header th:replace="public/header :: header"></header>

	<section th:replace="public/index :: sectionIndex"></section>

	<div id="loginModal" class="modal fade" data-keyboard="false"
		data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
		<!--  <div class="modal fade" id="loginClientModal" data-keyboard="false" data-backdrop="static" >-->
		<div class="modal-dialog">
			<div class="modal-content overFlowHidden">
				<div class="bggreyClair headermodal">
					<h3 class="white centrer">
						<strong>PARTICULIER</strong>
					</h3>
					<!-- <a th:href="@{/}">&times;</a> -->
					<button type="button" class="close btnModal" data-dismiss="modal">
						<span>&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="identifier-login centrer">

						<h2 class="blue">Réinitialisation du mot de passe</h2>

						<form class="formIdentifier centrer"
							th:action="@{/password/clientvalidresetpassword}"
							th:object="${client}" method="post">

							<!-- message notoken-->
							<div align="center" th:if="${msgnotoken eq 'ok'}"
								class="alert alert-danger alert-dismissable">
								<strong>Erreur !!!</strong><br> <strong>Aucune
									réinitialisation de mot de passe trouvé</strong>
								<div>
									<a th:href="@{/password/clientForgotPassword}"
										class="btn btn-success btn-block">Réinitialiser</a>
								</div>
							</div>

							<!-- message tokenexp-->
							<div align="center" th:if="${msgtokenexp eq 'ok'}"
								class="alert alert-danger alert-dismissable">
								<strong>Erreur !!!</strong><br> <strong>Vous devez
									refaire une réinitialisation du mot de passe</strong>
								<div>
									<a th:href="@{/password/clientForgotPassword}"
										class="btn btn-success btn-block">Réinitialiser</a>
								</div>
							</div>

							<!-- message fail-->
							<div align="center" th:if="${msg eq 'fail'}"
								class="alert alert-danger alert-dismissable">
								<strong>Les 2 mots de passes ne correspondent pas</strong>
							</div>

							<!-- message ok-->
							<div align="center" th:if="${msg eq 'ok'}"
								class="alert alert-success">
								<strong>Félicitations !!!</strong><br> <strong>Vous
									avez bien modifié votre mot de passe</strong><br>
							</div>

							<div align="center" th:if="${condition1IsTrue}">
								<input type="hidden" id="id" th:field="*{id}" />
								<div class="form-group">
									<input type="password" id="clientPassword"
										name="clientPassword" class="champsFormulaire"
										placeholder="Saisir mot de passe" minlength="6" required />
								</div>
								<div class="form-group">
									<input class="champsFormulaire" type="password"
										id="confirmPasswordInput" name="confirmPasswordInput"
										placeholder="Confirmez mot de passe" minlength="6" required />

								</div>

								<div class="form-group">
									<button type="submit" class="btn btn-block btn-success">Valider</button>
								</div>
							</div>
						</form>

					</div>
				</div>
			</div>
		</div>

	</div>

	<script>
		$('#loginModal').modal('show')
	</script>
</body>
</html>