<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="public/head :: head">
<link href="/static/css/styleLogin.css" th:href="@{/css/styleLogin.css}"
	rel="stylesheet" type="text/css">
</head>
<body>
	<header th:replace="public/header :: header"></header>

	<section
		class="sectionIdentifier sectionplusProduits section100pour100 centrer">

		<!--  <div class="centrer section100pour100 carrePlusProduits">-->
		<div class="plusProduits centrer section100pour100">
			<img class="imgindex" alt="index Plateo"
				th:src="@{/img/img-index.jpg}">
			<div class="plusProduitsClient bgBlue section100pour100"></div>
			<div class="plusProduitsPro bgOrange section100pour100"></div>
		</div>
		<!--  </div> -->
		<div class="divVide"></div>
	</section>

	<div id="loginModal" class="modal fade" data-keyboard="false"
		data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">

					<a th:href="@{/}" class="imgLogo"> <img class="imgLogoPlateo"
						alt="logo Plateo" th:src="@{/img/LOGO-BD.png}"> <img
						class="imgLogoText" alt="logo textuel Plateo"
						th:src="@{/img/logo-texte-BD.png}">
					</a> <a th:href="@{/}">X</a>

				</div>

				<div class="modal-body">

					<!---->
					<div class="identifier centrer">
						<h2 class="blue">PROFESSIONNEL</h2>
						<h2 class="blue">Mot de passe oublié</h2>

						<form class="formIdentifier centrer" th:object="${pro}"
							th:action="@{/password/proForgotPassword}" method="post">

							<!-- message fail-->
							<div align="center" th:if="${msg eq 'fail'}"
								class="alert alert-danger alert-dismissable">
								<strong>Adresse email inconnue</strong>
							</div>
							<!-- message ok-->
							<div align="center" th:if="${msg eq 'ok'}"
								class="alert alert-success">
								<strong>Un email à été envoyé sur votre messagerie.</strong><br>
								<strong>Veuillez suivre les instructions</strong><br> <strong>pour
									la réinitialisation de votre mot de passe.</strong>
							</div>

							<div>
								<input type="email" name="email" class="champsFormulaire"
									placeholder="Saisir adresse email" required>
							</div>

							<div>
								<button class="btn btn-success btn-block" type="submit">Réinitialiser</button>
							</div>

							<br>

							<div>
								<a href="/" class="btn btn-success btn-block">Annuler</a>
							</div>

							<br>

						</form>

					</div>

				</div>
			</div>
		</div>
	</div>


	<script>
		$('#loginModal').modal('show')
	</script>

</body>
</html>