<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="public/head :: head"></head>
<head>
<link th:href="@{/css/styleLogin.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<header th:replace="public/header :: header"></header>

	<section th:replace="public/index :: sectionIndex"></section>

	<div id="loginModal" class="modal fade" data-keyboard="false"
		data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
		<!--  <div class="modal fade" id="loginClientModal" data-keyboard="false" data-backdrop="static" >-->
		
		<div class="modal-dialog">
			<div class="modal-content overFlowHidden">
				<div class="bggreyClair headermodal">
					<h3 class="white centrer">
						<strong>PROFESSIONNEL</strong>
					</h3>
					<!-- <a th:href="@{/}">&times;</a> -->
					<button type="button" class="close btnModal" data-dismiss="modal">
						<span>&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="identifier-login centrer">

						<h2 class="blue">Mot de passe oublié</h2>

						<form class="formIdentifier centrer" th:object="${pro}"
							th:action="@{/password/proForgotPassword}" method="post">

							<!-- message fail-->
							<div th:if="${msg eq 'fail'}"
								class="alert alert-danger alert-dismissable">
								<strong>Adresse email inconnue</strong>

							</div>

							<div th:if="${condition1IsTrue}" align="center" >

								<input type="email" name="email" class="champsFormulaire"
									placeholder="Saisir adresse email" required>

								<div>
									<button class="btn btn-success btn-block" type="submit">Réinitialiser</button>
								</div>

								<br>
							</div>

							<div th:unless="${condition1IsTrue}" align="center" class="alert alert-success">
								<strong>Un email a été envoyé sur votre messagerie.</strong><br>
								<strong>Veuillez suivre les instructions</strong><br> <strong>pour
									la réinitialisation de votre mot de passe.</strong>

							</div>

						</form>

					</div>

				</div>
			</div>
		</div>
	</div>


	<script>
		$('#loginModal').modal('show')
	</script>

</body>
</html>