<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="public/head :: head"></head>
<body>
	<header th:replace="public/header :: header"></header>

	<section
		class="sectionIdentifier sectionplusProduits section100pour100 centrer">

		<!--  <div class="centrer section100pour100 carrePlusProduits">-->
		<div class="plusProduits centrer section100pour100">
			<img class="imgindex" alt="index Plateo"
				th:src="@{/img/img-index.jpg}">
			<div class="plusProduitsClient bgBlue section100pour100"></div>
			<div class="plusProduitsPro bgOrange section100pour100"></div>
		</div>
		<!--  </div> -->
		<div class="divVide"></div>
	</section>


	<div class="container pt-3">
		<div class="row justify-content-sm-center">
			<div class="col-sm-6 col-md-4">

				<div class="card border-info text-center">
					<div class="divImgLogo">
						<img class="imgLogo" alt="logo Plateo"
							th:src="@{/IMG/LOGO-BD.png}">
					</div>
					<div class="card-header">
						<img class="imgLogoText" alt="Plateo"
							th:src="@{/IMG/logo-texte-BD.png}">
					</div>

					<div class="card-body">

						<div></div>

						<div>
							<h5 class="text-center"></h5>
						</div>

						<form th:action="@{/password/proValidResetPassword}"
							th:object="${pro}" method="post">
							
							<!-- message fail-->
							<div align="center" th:if="${msg eq 'fail'}"
								class="alert alert-danger alert-dismissable">
								<strong>Les 2 mots de passes ne correspondent pas</strong>
							</div>
							<!-- message ok-->
							<div align="center" th:if="${msg eq 'ok'}"
								class="alert alert-success">
								<strong>Un email à été envoyé sur votre messagerie.</strong><br>
								<strong>Veuillez suivre les instructions</strong><br> <strong>pour
									la réinitialisation de votre mot de passe.</strong>
							</div>
							<input type="hidden" id="id" th:field="*{id}" />


							<div class="form-group">
								<label for="proPassword" class="col-form-label">Mot
									de passe</label> <input type="password" id="proPassword"
									name="proPassword" class="form-control"
									placeholder="Obligatoire" />
							</div>

							<div class="form-group">

								<label for="confirmPasswordInput">Confirmez votre mot de
									passe</label> <input class="form-control" type="password"
									id="confirmPasswordInput" name="confirmPasswordInput"
									placeholder="Obligatoire" />

							</div>

							<div class="form-group">
								<button type="submit" class="btn btn-block btn-success">Valider</button>
							</div>

							<div>
								<a href="/" class="btn btn-success btn-block">Annuler</a>
							</div>
						</form>

					</div>
				</div>
			</div>
		</div>

	</div>

</body>
</html>