<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="public/head :: head"></head>
<body>
	<header th:replace="public/header :: header">-	
	</header>
			
	<section class="sectionIdentifier sectionplusProduits section100pour100 centrer">
	
		<!--  <div class="centrer section100pour100 carrePlusProduits">-->
			<div class="plusProduits centrer section100pour100">
				
				
			</div>
		<!--  </div> -->
		<div class="divVide"></div> 
	</section>	
	<footer th:replace="public/footer :: footer">
	</footer>
			
</body>