<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="public/head :: head"></head>
<head>
	<link th:href="@{/css/styleClient.css}" rel="stylesheet" type="text/css" >
	<link th:href="@{/css/styleFormulaireClient.css}" rel="stylesheet" type="text/css" >
</head>
<body>

	<header th:replace="public/headerblanck :: headerblanck"> </header>
	<section class="sectionNouvClient section100pour100 centrer">
		<div class="centrer carreBlanc section100pour100">
			<form class="centrer sectionFormClient" action="#"
				th:action="@{/public/clientForm}" th:object="${client}"
				method="post">
				<div class="top sectionForm">
					<div class="formIdentifierLeft">

						<div class="form-group formIdentifier left">
							<label for="clientLastname" class="col-form-label blue labelForm">Nom</label>
							<input type="text" id="clientLastname"
								th:field="*{clientLastname}" class="champsFormulaire"
								placeholder="Champs obligatoire" required/> <span
								th:if="${#fields.hasErrors('clientLastname')}"
								th:errors="*{clientLastname}" class="text-danger"> </span>
						</div>
						<div class="form-group formIdentifier left">
							<label for="clientFirstname"
								class="col-form-label blue labelForm">Prénom</label> <input
								type="text" id="clienFirstname" th:field="*{clientFirstname}"
								class="champsFormulaire" placeholder="Champs obligatoire"
								required/> <span
								th:if="${#fields.hasErrors('clientFirstname')}"
								th:errors="*{clientFirstname}" class="text-danger"> </span>
						</div>
						<div class="form-group formIdentifier left">
							<label for="clientEmailAddress"
								class="col-form-label blue labelForm">Email</label> <input
								type="email" id="clientEmailAddress"
								th:field="*{clientEmailAddress}" class="champsFormulaire"
								placeholder="Champs obligatoire" required/> <span
								th:if="${#fields.hasErrors('clientEmailAddress')}"
								th:errors="*{clientEmailAddress}" class="text-danger"> </span>
						</div>
						<div class="form-group formIdentifier left">
							<label for="clientPassword" class="col-form-label blue labelForm">Mot
								de passe</label> <input type="password" id="clientPassword"
								th:field="*{clientPassword}" class="champsFormulaire"
								placeholder="Champs obligatoire" required/> <span
								th:if="${#fields.hasErrors('clientPassword')}"
								th:errors="*{clientPassword}" class="text-danger"> </span>
						</div>

						<div class="form-group formIdentifier left">
							<label for="confirmPasswordInput" class="col-form-label blue labelForm">Confirmez votre mot de
								passe : </label> <input class="champsFormulaire" type="password"
								id="confirmPasswordInput" name="confirmPasswordInput"
								placeholder="Obligatoire" required/>
						</div>

					</div>
					<div class="formIdentifierRight">
						<div class="form-group formIdentifier left">
						<label for="clientFirstname"
								class="col-form-label blue labelForm">Prénom</label>
							<input type="text" id="clienFirstname" th:field="*{clientFirstname}"
								class="champsFormulaire" placeholder="Champs obligatoire"
								required />
							<span th:if="${#fields.hasErrors('clientFirstname')}"
								th:errors="*{clientFirstname}" class="text-danger">
							</span>
						</div>
						<div class="form-group formIdentifier left">
						<label for="clientCity" class="col-form-label blue labelForm">Ville</label>
							<input type="text" id="clientCity" th:field="*{clientCity}"
								class="champsFormulaire" placeholder="Saisir ville" />
							<span th:if="${#fields.hasErrors('clientCity')}"
								th:errors="*{clientCity}" class="text-danger">
							</span>
						</div>
						<div class="form-group formIdentifier left">
							<label for="clientEmailAddress"
								class="col-form-label blue labelForm">Email</label>
							<input type="email" id="clientEmailAddress"
								th:field="*{clientEmailAddress}" class="champsFormulaire"
								placeholder="Champs obligatoire" required />
							<span th:if="${#fields.hasErrors('clientEmailAddress')}"
								th:errors="*{clientEmailAddress}" class="text-danger">
							</span>
						</div>
						<div class="form-group formIdentifier left">
							<label for="confirmPasswordInput" class="col-form-label blue labelForm">
									Confirmez votre mot de passe : </label>
							<input class="champsFormulaire" type="password"
								id="confirmPasswordInput" name="confirmPasswordInput"
								placeholder="Champs bligatoire" />
						</div>
					</div>
				</div>
				<div class="centrer sectionButton">
					<a href="/" class="btn bgGreyFonce MarginClient">Annuler</a>
					
					<button type="submit" class="btn bgOrange MarginClient">Valider</button>
				</div>
			</form>
		</div>
		<div class="divVide"></div>
	</section>


	<footer th:replace="/public/footer :: footer"> </footer>

</body>
</html>
