<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">


<body>
	<div class="backstretch">
		<img src="/img/1.jpg">
	</div>
	<footer th:fragment="footer" class="">
			<nav>
				<ul class="ulFooter">
					<li>
						<a href="https://www.plateo.fr/" >
							QUI SOMMES NOUS ?
						</a>
					</li>
					<li>
						<a href="/footer/mentions_legales" >
							MENTIONS LEGALES
						</a>
					</li>
					<li>
						<a href="/footer/faq" >
							FAQ
						</a>
					</li>
				</ul>
			</nav>
		</footer>
</body>
</html>
