<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="public/head :: head">
</head>

<body>

	<header th:replace="clients/header :: header">	
	</header>
	 <section class="sectionNouvClient centrer">
		<div class="centrer carreBlanc">
			<form class="centrer sectionFormClient" action="#" th:action="@{/public/new_client}" th:object="${client}" method="post">
				<div class="centrer sectionForm">
					<div class="formIdentifierLeft">
						 <div class="form-group formIdentifier left">
							<label for="client_lastname" class="col-form-label blue labelForm">Nom</label>
							<input type="text" id="client_lastname" th:field="*{client_lastname}" class="champsFormulaire"
										placeholder="Champs obligatoire" />
							<span th:if="${#fields.hasErrors('client_lastname')}" th:errors="*{client_lastname}" class="text-danger">
							</span>
						</div>
						<div class="form-group formIdentifier left">
							<label for="client_firstname" class="col-form-label blue labelForm">Prénom</label>
							<input type="text" id="client_firstname" th:field="*{client_firstname}" class="champsFormulaire"
										placeholder="Champs obligatoire" />
							<span th:if="${#fields.hasErrors('client_firstname')}" th:errors="*{client_firstname}" class="text-danger">
							</span>
						</div>
						<div class="form-group formIdentifier left">
							<label for="client_email_address" class="col-form-label blue labelForm">Email</label>
							<input type="email" id="client_email_address" th:field="*{client_email_address}" class="champsFormulaire"
									placeholder="Champs obligatoire" />
							<span th:if="${#fields.hasErrors('client_email_address')}" th:errors="*{client_email_address}" class="text-danger">
							</span>
						</div>
						<div class="form-group formIdentifier left">
							<label for="client_password" class="col-form-label blue labelForm">Mot de passe</label>
							<input type="password" id="client_password" th:field="*{client_password}"
									class="champsFormulaire" placeholder="Champs obligatoire" />
							<span th:if="${#fields.hasErrors('client_password')}" th:errors="*{client_password}" class="text-danger">
							</span>
						</div>
					</div>
					<div class="formIdentifierRight">
						<div class="form-group formIdentifier left">
							<label for="client_address" class="col-form-label blue labelForm">Adresse</label>
							<input type="text" id="client_address" th:field="*{client_address}"
								class="champsFormulaire" placeholder="Saisir adresse" />
							<span th:if="${#fields.hasErrors('client_address')}" th:errors="*{client_address}" class="text-danger">
							</span>
						</div>
						<div class="form-group formIdentifier left">
							<label for="client_postcode" class="col-form-label blue labelForm">Code Postal</label>
							<input type="text" id="client_postcode" th:field="*{client_postcode}"
								class="champsFormulaire" placeholder="Saisir code postal" />
							<span th:if="${#fields.hasErrors('client_postcode')}" th:errors="*{client_postcode}" class="text-danger">
							</span>
						</div>
						<div class="form-group formIdentifier left">
							<label for="client_city" class="col-form-label blue labelForm">Ville</label>
							<input type="text" id="client_city" th:field="*{client_city}" class="champsFormulaire"
								placeholder="Saisir ville" />
							<span th:if="${#fields.hasErrors('client_city')}" th:errors="*{client_city}" class="text-danger">
							</span>
						</div>
						<div class="form-group formIdentifier left">
							<label for="client_phone_number" class="col-form-label blue labelForm">Téléphone</label>
							<input type="text" id="client_phone_number" th:field="*{client_phone_number}"
								class="champsFormulaire" placeholder="Saisir numéro de téléphone" />
							<span th:if="${#fields.hasErrors('client_phone_number')}" th:errors="*{client_phone_number}" class="text-danger">
							</span>
						</div>
					</div>
				</div>
				<div class="centrer sectionButton">
						<a href="/index">
							<button type="submit" class="btn bgGreyFonce MarginClient">Annuler</button>
						</a>
						<a href="">
							<button type="submit" class="btn bgOrange MarginClient">Valider</button>
						</a>
				</div>
			</form>
		</div>
		<div class="divVide"></div>
	</section>
	<footer th:replace="public/footer :: footer">
	</footer>
	
	</body>
</html>
