<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="public/head :: head"></head>
<head>
	<link th:href="@{/css/stylePro.css}" rel="stylesheet" type="text/css" >
</head>
<body>
	<header th:replace="pro/header :: header">	
	</header>
	
	<section class="sectionNouvPro section100pour100 centrer">
		<div class="centrer carreBlanc section100pour100">
			<form class="centrer sectionFormPro" th:object="${pro}" method="post" th:action="@{/public/proForm}">
				<div class="centrer sectionForm">
					<div class="formIdentifierLeft">
						<div class="form-group formIdentifier left">
							<label for="companyName" class="col-form-label blue labelForm">Dénomination sociale </label>
							<input class="champsFormulaire" id="companyName" name="companyName" type="text"
									placeholder="Champs obligatoire"/>
							<span th:if="${#fields.hasErrors('companyName')}" th:errors="*{companyName}" class="text-danger">
							</span>
						</div>	
						<div class="form-group formIdentifier left">
							<label for="managerLastname" class="col-form-label blue labelForm">Nom du gérant </label>
							<input class="champsFormulaire"  id="managerLastname" name="managerLastname" type="text"
									placeholder="Champs obligatoire"/>
							<span th:if="${#fields.hasErrors('managerLastname')}" th:errors="*{managerLastname}" class="text-danger">
							</span>
						</div>	
						<div class="form-group formIdentifier left">
							<label for="proEmailAddress" class="col-form-label blue labelForm">Email</label>
							<input class="champsFormulaire" id="proEmailAddress" name="proEmailAddress" type="email"
									placeholder="Champs obligatoire" required/>
							<span th:if="${#fields.hasErrors('proEmailAddress')}" th:errors="*{proEmailAddress}" class="text-danger">
							</span>
						</div>
					</div>
					<div class="formIdentifierRight">	
						<div class="form-group formIdentifier left">
							<label for="siret" class="col-form-label blue labelForm">SIRET</label>
							<input class="champsFormulaire" id="siret" name="siret" type="text"
									placeholder="numéro de SIRET : 14 chiffres" pattern="[0-9]{14}" />
							<span th:if="${#fields.hasErrors('siret')}" th:errors="*{siret}" class="text-danger">
							</span>
						</div>
						<div class="form-group formIdentifier left">
							<label for="managerFirstname" class="col-form-label blue labelForm">Prénom du gérant </label>
							<input class="champsFormulaire"  id="managerFirstname" name="managerFirstname" type="text"
									placeholder="Champs obligatoire" required/>
							<span th:if="${#fields.hasErrors('managerFirstname')}" th:errors="*{managerFirstname}" class="text-danger">
							</span>
						</div>
						<div class="form-group formIdentifier left">
							<label for="proPostcode" class="col-form-label blue labelForm">Code Postal </label>
							<input class="champsFormulaire" id="proPostcode" name="proPostcode" type="text"
									placeholder="Saisir son code postal à 5 chiffres" pattern="[0-9]{5}" required/>
							<span th:if="${#fields.hasErrors('proPostcode')}" th:errors="*{proPostcode}" class="text-danger">
							</span>
						</div>
					</div>
				</div>
				<div class="sectionForm ">
					<div class="formIdentifierRight sectionForm">	
						<div class="form-group formIdentifier left">
							<label for="proPassword" class="col-form-label blue labelForm">Mot de passe :</label>
							<input class="champsFormulaire" type="password" id="passwordInput"
									placeholder="Champs obligatoire" name="proPassword"/>
							<span th:if="${#fields.hasErrors('proPassword')}" th:errors="*{proPassword}" class="text-danger">
							</span>
						</div>
					</div>
					<div class="formIdentifierRight sectionForm">		
						<div class="form-group formIdentifier left">
							<label for="confirmproPassword" class="col-form-label blue labelForm">Confirmer votre mot de passe :</label>
							<input class="champsFormulaire" type="password" id="confirmPasswordInput"
									placeholder="Champs obligatoire" name="confirmproPassword"/>
							<span th:if="${#fields.hasErrors('proPassword')}" th:errors="*{proPassword}" class="text-danger">
							</span>
						</div>
					</div>
				</div>
				<div class="centrer sectionButton">
					<a>
						<button type="submit" class="btn bgOrange MarginClient">Envoyer</button>
					</a>
						
				</div>
				
				 
				<div class="" id="passwordStrength"></div>
				<!--<input type="submit" value="Change Password" class="btn"/>
				<input type="submit" value="Envoyer"/>
			 </fieldset>
			</div>-->
			</form>
		</div>
	</section>
	<footer th:replace="public/footer :: footer">
	</footer>
</body>

</html>