<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="public/head :: head"></head>
<head>
	<link th:href="@{/css/styleFormulaireClient.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/css/designCss.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<header th:replace="public/header :: header"></header>
        <div class="top-content">
            <div class="inner-bg">
                <div class="container containerMaxWidth">
                    <div class="row centrer">
                        <div class="col-sm-8 col-sm-offset-2 text centrer">
                            <h1>Créez un compte <strong>Professionnel</strong></h1>
                        </div>
                    </div>
                    <div class="row centrer">
                       	<div class="form-box">
                            <div class="form-bottom">
			                    <form class="registration-form" role="form" action="#" th:action="@{/public/proForm}"
										th:object="${pro}" method="post" >
				                    	<div class="rowFormulaire">
					                    	<div class="sousColumnFormulaire">
					                    		<div class="form-group">
					                    			<label for="companyName" class="white labelForm">Dénomination sociale</label>
						                        	<input type="text" id="companyName" th:field="*{companyName}"
						                        			placeholder="Champs Obligatoire" class="form-first-name form-control"
						                        			required tabindex="1"/>
						                       		<span th:if="${#fields.hasErrors('companyName')}"
															th:errors="*{companyName}" class="text-white"> </span>
						                        </div>
						                        <div class="form-group">
						                    		<label for="managerLastname" class="white labelForm">Nom du gérant</label>
						                        	<input type="text" id="managerLastname" th:field="*{managerLastname}"
						                        			placeholder="Champs Obligatoire" class="form-first-name form-control"
						                        			required tabindex="2"/>
						                        	<span th:if="${#fields.hasErrors('managerLastname')}"
															th:errors="*{managerLastname}" class="text-white"> </span>
						                        </div>
						                    	<div class="form-group">
						                    		<label for="proEmailAddress" class="white labelForm">Email</label>
						                        	<input type="email" id="proEmailAddress" th:field="*{proEmailAddress}"
						                        			placeholder="Champs obligatoire" class="form-first-name form-control"
						                        			required tabindex="3" />
						                        	<span th:if="${#fields.hasErrors('proEmailAddress')}"
															th:errors="*{proEmailAddress}" class="text-white"> </span>
						                        </div>
						                        <div class="form-group">
						                        	<label for="proCity" class="white labelForm">Ville</label>
						                        	<input type="text" id="proCity" th:field="*{proCity}"
						                        			placeholder="Champs obligatoire" class="form-last-name form-control"
						                        			required tabindex="4"/>
						                        	<span th:if="${#fields.hasErrors('proCity')}" th:errors="*{proCity}"
															class="text-white"> </span>
						                        </div>
						                    	<div class="form-group">
						                        	<label for="siret" class="white labelForm">SIRET</label>
						                        	<input type="text" id="siret" th:field="*{siret}"
						                        			placeholder="Champs Obligatoire" class="form-email form-control"
						                        			required tabindex="5" />
						                        	<span th:if="${#fields.hasErrors('siret')}"
															th:errors="*{siret}" class="text-white"> </span>
						                        </div> 
						                        <div class="form-group">
						                        	<label for="managerFirstname" class="white labelForm">Prénom du gérant</label>
						                        	<input type="text" id="managerFirstname" th:field="*{managerFirstname}"
						                        			placeholder="Champs obligatoire" class="form-email form-control"
						                        			required tabindex="6" />
						                        	<span th:if="${#fields.hasErrors('managerFirstname')}"
															th:errors="*{managerFirstname}" class="text-white"> </span>
						                        </div>
						                        <div class="form-group">
						                        	<label for="proPostcode" class="white labelForm">Code Postal</label>
						                        	<input type="text" id="proPostcode" th:field="*{proPostcode}"
															placeholder="Champs Obligatoire" class="form-email form-control"
															pattern="[0-9]{5}" required tabindex="7" />
													<span th:if="${#fields.hasErrors('proPostcode')}"
															th:errors="*{proPostcode}" class="text-white"> </span>
						                        </div>
						                        <div class="form-group">
						                        	<label for="proPassword" class="white labelForm">Mot de passe</label>
						                        	<input type="password" id="passwordInput"
						                        			placeholder="Champs Obligatoire" class="form-email form-control"
															th:field="*{proPassword}" required tabindex="8" />
						                        </div>
						                        <div class="form-group">
						                        	<label for="confirmproPassword" class="white labelForm">Confirmer votre mot de passe</label>
						                        	<input type="password" id="confirmPasswordInput"
						                        			placeholder="Champs Obligatoire" class="form-email form-control"
															name="confirmProPassword" required tabindex="9" />
													<span th:if="${#fields.hasErrors('proPassword')}"
															th:errors="*{proPassword}" class="text-white"> </span>
						                        </div>
					                    	</div>
					                    </div>
			                    	<div class="middle-border-horizontal width-form-box"></div>
			                    	<label for="listProfession" class="white labelForm width-form-box">Listes des corps d'états</label>
			                    	<div class="PopoverColumn width-form-box">
										<div class="custom-control custom-switch" th:each="profession : ${listProfessions}">
											<input type="checkbox" class="custom-control-input" th:id="${{profession.id}}"
													th:value="${{profession}}" th:field="*{listProProfessions}" />
											<!-- petite fenêtre blanche -->
											<label  class="custom-control-label white" th:for="${{profession.id}}"
													data-toggle="popover" data-placement="top" th:title="${profession.name}"
													th:data-content="${profession.description}" th:text="${profession.name}">
											</label>
										</div>
									</div>	
			                    	<div>
			                    		<button type="submit" class="btn width-form-box">Valider</button>
			                        </div> 
			                        
			                    </form>
		                    </div>
                       	</div>
                    </div>
                    
                </div>
            </div>
            
        </div>
		<div class="backstretch">
			<img src="/img/1.jpg">
		</div>
        <!-- Footer -->
        <footer th:replace="public/footer :: footer"></footer>
        
        <script th:src="@{/js/scripts.js}"></script>
        <script>
			$(function () {
				  $('[data-toggle="popover"]').popover({ trigger:'hover',animation: true, delay: {show: 150, hide: 100} })
				});
			  $(function () {
			    $('label').popover()
			  });
			
		</script>
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

</body>
</html>