<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="public/head :: head"></head>
<head>
	    <link rel="stylesheet" type="text/css" th:href="@{/ListProDataTables/datatables.min.css}"/>
		<script type="text/javascript" th:src="@{/ListProDataTables/datatables.min.js}"></script>

		<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$('#proList').dataTable();
			} );
		</script>

</head>

    <body>
    <header th:replace="public/header :: header"></header>

        <section class="sectionIdentifier sectionplusProduits section100pour100 centrer">
           <div class="plusProduits listPro">

	       <h1 class="centrer" >Annuaire des professionnels</h1>
		
	       <table id="proList" class="table table-striped table-bordered">
	           <thead>
            	    <tr>
            	      <th scope="col">Société</th>
            	      <th scope="col">Ville</th>
            	      <th scope="col">Code postal</th>
            	      <th scope="col">Corps état</th>
            	      <th scope="col">siret</th>
            	    </tr>
	          </thead>
        	  <tbody>
        	    <tr th:each="pro : ${listPro}">
        	      <td scope="row" th:text="${pro.companyName}"><a th:href="@{/}"></a></td>
        	      <td th:text="${pro.proCity}"></td>
        	      <td th:text="${pro.proPostcode}"></td>
        	      <td th:text="${pro.listProProfessions}">       	      
        	      </td>
        	      <td th:text="${pro.siret}"></td>
        	    </tr>
	           </tbody>
	       </table>	
</div>
<div class="divVide"></div>
</section>
        <footer th:replace="public/footer :: footer">
    </footer>
    </body>
</html>







