<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="public/head :: head"></head>
<head>
	<link th:href="@{/css/styleFormulaireClient.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/css/designCss.css}" rel="stylesheet" type="text/css">
</head>
<body class="BgBlue">
	<header th:replace="public/header :: header"></header>
<div th:fragment="proProfile" class="top-content">
	<div class="row text-center border-top border-bottom pt-2 pb-2">
		<div class="offset-3 col-1">
			 <img th:src="${logo}" class="w-100">
		</div>
		<div class="col-4">
			<div class="blue h3" th:text="${pro.companyName}">Nom de la société</div>
			<div>
			<span th:text="${pro.proAddress}">,</span>
			<span th:text="${pro.proCity}"></span>
			<span th:text="${pro.proPostcode}"></span>
			</div>Notes
		</div>
			<a class="bgBlue offset-2 col-2 rounded m-3 p-1 btn" th:href="@{/clients/estimateRequest}">
				Demander un devis
			</a>
	</div>
	<div class="mt-4">
		<div class="row">
			<div class="col-7 offset-1">
				<div th:if="${not #lists.isEmpty(photos)}">
					<div>
						<span th:each="photo, iterStat: ${photos}">
		   	    			<img th:src="${photo}" th:id="@{'img-wrapper'}+${iterStat.index}" style="width:200px;" class="b-1">
						</span>
					</div>
					<div>
						<input id="mySlider" type="range" min="0" max="5" value="0" step="any" oninput="resizeImage();"  style="width:500px;">
					</div>
				</div>
			</div>
			<div class="col-3"> 
				<div class="border border-primary p-1" th:object="${pro}">
					<div th:text="*{managerLastname}">Description de l'activité</div>
					<div th:text="*{managerFirstname}">Adresse email</div>
					<div th:text="*{proEmailAddress}">Adresse email</div>
					<div th:text="*{proPhoneNumber}">Numéro de téléphone</div>
					<img th:src="@{https://api.qrserver.com/v1/create-qr-code/?data={email}(email=*{proEmailAddress});size=100x100}" alt="" title="" />
				</div> 
				<!--<div class="border border-info">Notes</div>-->
			</div>
		</div>
	</div>
</div>
<script th:inline="javascript">
/*<![CDATA[*/
function setImage() {
	  var e = document.getElementById('mySelect');
	  document.getElementById('myImage').src = e.options[e.selectedIndex].value;
	}
function resizeImage(){
	var i = 0;
	var image;
    /*[# th:each="photo: ${photos}"]*/
        image = document.getElementById('img-wrapper'+i),
	    ranger = document.getElementById('mySlider');
        image.style.width = (200+(mySlider.value / 1)*100)+'px';
	  	i++;
    /*[/]*/

}
/*]]>*/
</script>
</body>
</html>