<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="public/head :: head"></head>
<body>
	<header th:replace="public/header :: header">
	</header>
	<section class="sectionIdentifier section100pour100 centrer">
		<!---->  <div class="identifier centrer">
			<h2 class="blue">
				Identifiez-vous
			</h2>
			<form  class="formIdentifier centrer">
	            <input type="email" class="champsFormulaire" placeholder="Saisir adresse email">
	            <input type="text" class="champsFormulaire" placeholder="Saisir mot de passe">
	            <button class="btn bgOrange">Valider</button>
        	</form>
			
			<h4 class="greyClair">‒ ou ‒</h4>
			<h2 class="h2creerCompte blue">Créez un compte</h2> 
			<a th:href="@{/public/new_client}" >
				<button class="btn btnWidthLong hoverBlue bgBlue">PARTICULIER</button>	
			</a>
			<a th:href="@{/public/proForm}" >
				<button class="btn btnPro btnWidthLong bgOrange">PROFESSIONNEL</button>	
			</a>
		</div>
	</section>	
	<footer th:replace="public/footer :: footer">
	</footer>
			
</body>