#logoProEdit{
	height:70px;
}
/*--------------VERSION MOBILE si ecran egal ou plus grand que 1200px   */
@media screen and (min-width: 1200px){
	/*.containerMaxWidth {
	    max-width: 1000px !important; 
	}*/
	.containerDevisMaxWidth, .container {
	    /*max-width: 1400px !important; */
	}
}

/*--------------VERSION MOBILE si ecran egal ou plus petit que 1080px   */

@media screen and (max-width: 1000px) {
	.sousColumnFormulaire{
	    max-height: fit-content;
	}
	.PopoverColumn{
		max-height: 400px;
	}
	
}

/*-------------------------DECO FORMULAIRE----------------------------*/
.inner-bg {
    padding: 30px 0 80px 0;
}
.top-content .text h1 {
	color: #fff;
}
h1, h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 {
	font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}
strong {
	font-weight: 600;
}
.form-box {
	margin-top: 30px;
	width: 100%;
}
.form-boxProProfil{
	margin-top: 10px !important;
}
.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #444;
	background: rgba(0, 0, 0, 0.3);
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}
.sousColumnFormulaire{
	min-width:380px;
	
	max-height: 500px;
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:center;
}
.columnClientEdit{
	max-height: 400px !important;
}

input[type="text"], 
input[type="password"], 
input[type="email"],
textarea, 
textarea.form-control {
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    border: 3px solid #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
textarea.form-control {
	line-height: 1.5 !important;
}
input[type="text"]:focus, 
input[type="password"]:focus, 
textarea:focus, 
textarea.form-control:focus {
	outline: 0;
	background: #fff;
    border: 3px solid #fff;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, 
textarea:-moz-placeholder, textarea.form-control:-moz-placeholder { color: #888; }

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, 
textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder { color: #888; }

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder { color: #888; }

.middle-border-vertical {
	min-height: 290px;
	margin: 0 30px;
	border-right: 1px solid #fff;
	border-right: 1px solid rgba(255, 255, 255, 0.6);
	align-self: center;
	
}
.middle-border-horizontal {
	margin: 30px 0px;
	border-bottom: 1px solid #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.6);
	align-self: center;
	
}
button.btn, .btnRetour, .btnMDP {
	height: 50px;
	width: 100%;
    margin: 20px 20px 0px 20px;
    padding: 0 20px;
    
    vertical-align: middle;
    background: #19b9e7;
    border: 0;
    font-family: 'Roboto', sans-serif;
    /*font-size: 16px;*/
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
button.btn:hover, .btnRetour:hover, .btnMDP:hover {
	background: #19b9e7;
}
.btnMDP{
	margin: 0px 0px 0px 0px !important;
}
.btnMDP:hover{
	color: #fff;
}
.inputFile {
    text-align: center;
    justify-content: center;
    align-items: center;
	/*margin-left:20px;*/
	height: 50px;
	/*max-width: 100px;*/
    vertical-align: middle;
    background: #19b9e7;
    border: 0;
    font-family: 'Roboto', sans-serif;
    /*font-size: 16px;*/
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.zoneBoutonsEdit{
	display:flex;
	flex-direction:row;
}
.zoneBoutonsEdit button{
	/*margin-right:40px;*/
}
button.btn:hover { opacity: 0.6; color: #fff; }

button.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

button.btn:focus { outline: 0; opacity: 0.6; background: #19b9e7; color: #fff; }

button.btn:active:focus, button.btn.active:focus { outline: 0; opacity: 0.6; background: #19b9e7; color: #fff; }

.width-form-box {
	width: calc(100% - 40px);
	margin-left: 20px;	
}
.backstretch{
	left: 0px;
	top: 0px;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	z-index: -999999;
	position: fixed;
}
.backstretch img {
	margin: 0px;
	padding: 0px;
	border: none;
	max-height: none;
	max-width: none;
	z-index: -999999;
	left: 0px;
	top: 145px;
}

.PopoverColumn{
	display:flex;
	flex-direction: column;
	flex-wrap:wrap;
	max-height:220px;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #ff9500;
    background-color: #ff9500;
}
.custom-control{
	padding-right:15px;
}

.row2Devis .form-box{
	margin-top: 15px !important;
}

.row2Devis .row{
	margin:0 20px 0 20px !important;
}
/*
.row2Devis{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.row2Devis thead th, .row2Devis tbody td{
	padding:5px;
}*/

/*.col-md-6{
	flex-basis: 30% !important;
}*/




/*table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting:before{
	right:0.7em !important;
	bottom: 0.3em !important;
}
table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting:after{
	right:0.2em !important;
	bottom: 0.3em !important;
}*/
/*------------------DECO PROLIST-----------------------*/
.table-bordered, .table-bordered td, .table-bordered th, .table td, .table th, .table thead th  {
	border: 5px solid #bdbdbd;
	/*opacity:0.5;*/
}
table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
    border-bottom-width: 0;
    border-top-width: 0;  
}
table.table-bordered.dataTable thead tr, table.table-bordered.dataTable thead th  {
    border-top-width: 0;
}
.table-bordered{
	border-radius: 10px;
}
.table thead th {
    vertical-align: bottom;
}
.texteTable, .table, td a{
	font-size:1.2rem;
	font-weight: 600;
}
.texteTable{
	color: white !important;
}

.texteTable th, .texteTable td{
	color: #585757 !important;
}
thead th{
	opacity: 0.8;
	font-size:1.3rem;
    font-weight: 500;
}
tbody td{
	opacity: 1;
    font-weight: 500;
}
table.dataTable{
	background-color: #ECF6FC ;
}
td a{
	opacity: 0.6;
}

.form-top{
	height:180px;
	width:100%;
	overflow:hidden;
}

.form-top img{
	margin-top: -20%;
	width:100% !important;
	filter: brightness(75%);
	-webkit-filter: brightness(75%);
}
.sousColumnFormulaire.proEdit{
	max-height:550px;
}
.imgLogoProfil{
	margin:10px;
	height:120px;
	/*border-radius: 100px;*/
}
.divImgLogoProfil{
	position: relative;
	margin-top:-140px;
	height:140px;
	width:140px;
	border-radius: 140px;
	-webkit-border-radius:140px;
    -moz-border-radius:140px;
	text-align:center;
	
	overflow:hidden;
	background-color:white;
	margin-left:auto; margin-right: auto;
}
.textH3Profil{
	margin-top:15px;
	text-align:center;
}
.textH3Profil h3{
font-weight: 600;
}
.textProfil{
font-weight: 500;
opacity:0.8;
font-size:1.2rem;
}
.textProfil span{
	font-weight:600;
}
.rowCarouselQRCODE{
	display: flex;
    flex-direction: row;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.btnQrcode{
	margin:0 !important;
}
.myRowCarousel{
	margin-left:20px;
}
.carousel{
	width:600px;
	background-color:black;
}

.carousel, .adresseQrcode{
	height:350px;
}
.adresseQrcode{
	max-width:450px;
	margin-right:20px;
	text-align:left;
}
.carousel-inner{
}
.carousel-item{
	/*text-align: center;
    margin-left: auto;
    margin-right: auto;*/
}

.carousel-item img{
	max-height:350px;
	margin-left: auto;
    margin-right: auto;
}

textarea.form-control{
	height:100px;
}

.divLogoInputFile{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
}

.deletePhotosProEdit{
	height:100px;
	margin-left:20px;
}
.divDeletePhoto{
	flex-wrap:wrap;
}
.divModifPhoto label, .divModifPhoto input {
	margin-top:20px;
}
.divModifPhoto button, .divModifPhoto input{
	margin-left:20px;
	margin-right:20px;
}
.imgPlustext{
	text-align: center;
}

.btnProEdit.btn{
	
}

.popover {
	color:white !important;
  	background-color: #ff9500; /*substitute 'red' with your color of choice*/
  	border-color: #ff9500;
}

.popover-content {
	font-size: 14px :important;
	color:white !important;
  	background-color: #ff9500;
}

.popover.right>.arrow:after {
  border-right-color: #ff9500;
}


  	
  	
