/*-------------------------DECO FORMULAIRE----------------------------*/
.inner-bg {
    padding: 30px 0 80px 0;
}
.top-content .text h1 {
	color: #fff;
}
h1, h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 {
	font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}
strong {
	font-weight: 600;
}
.form-box {
	margin-top: 30px;
	width: 100%;
}
.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #444;
	background: rgba(0, 0, 0, 0.3);
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}
.rowFormulaire{
	display:flex;
	flex-direction: row;
	justify-content:center;
	align-items:flex-start;
}
.sousColumnFormulaire{
	min-width:380px;
}
input[type="text"], 
input[type="password"], 
input[type="email"],
textarea, 
textarea.form-control {
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    border: 3px solid #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
input[type="text"]:focus, 
input[type="password"]:focus, 
textarea:focus, 
textarea.form-control:focus {
	outline: 0;
	background: #fff;
    border: 3px solid #fff;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, 
textarea:-moz-placeholder, textarea.form-control:-moz-placeholder { color: #888; }

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, 
textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder { color: #888; }

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder { color: #888; }

.middle-border-vertical {
	min-height: 290px;
	margin: 0 30px;
	border-right: 1px solid #fff;
	border-right: 1px solid rgba(255, 255, 255, 0.6);
	align-self: center;
	
}
.middle-border-horizontal {
	margin: 30px 0px;
	border-bottom: 1px solid #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.6);
	align-self: center;
	
}
button.btn {
	height: 50px;
    /*margin: 0;*/
    padding: 0 20px;
    margin-top:20px;
    vertical-align: middle;
    background: #19b9e7;
    border: 0;
    font-family: 'Roboto', sans-serif;
    /*font-size: 16px;*/
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

button.btn:hover { opacity: 0.6; color: #fff; }

button.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

button.btn:focus { outline: 0; opacity: 0.6; background: #19b9e7; color: #fff; }

button.btn:active:focus, button.btn.active:focus { outline: 0; opacity: 0.6; background: #19b9e7; color: #fff; }

.form-bottom form button.btn {
	width: 100%;	
}
.backstretch{
	left: 0px;
	top: 0px;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	z-index: -999999;
	position: fixed;
}
.backstretch img {
	/*position: absolute;*/
	margin: 0px;
	padding: 0px;
	border: none;
	/*width: 1524px;*/
	/*height: 1016px;*/
	max-height: none;
	max-width: none;
	z-index: -999999;
	left: 0px;
	top: 145px;
}

.PopoverColumn{
	display:flex;
	flex-direction: column;
	flex-wrap:wrap;
	max-height:150px;
	
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #ff9500;
    background-color: #ff9500;
}
.custom-control{
	padding-right:15px;
}


@media (min-width: 1200px){
	.containerMaxWidth {
	    max-width: 1000px !important; 
	}
}

/*------------------DECO PROLIST-----------------------*/
.table-bordered, .table-bordered td, .table-bordered th, .table td, .table th, .table thead th  {
	border: 5px solid rgba(0, 0, 0, .2);
	/*opacity:0.5;*/
}
table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
    border-bottom-width: 0;
    border-top-width: 0;
}
.table-bordered{
	border-radius: 10px;
}
.table thead th {
    vertical-align: bottom;
}
.texteTable, .table{
	color:White !important;
	font-size:1.2rem;
}
thead th{
	opacity: 0.8;
	font-size:1.3rem;
    font-weight: 500;
}
tbody td{
	opacity: 1;
    font-weight: 500;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #205772;
}

td a{
	color:White !important;
	opacity: 0.6;
}