.container {
	display: flex;
	flex-flow: row wrap;
	align-content: space-between; 
}


.popover {
	background-color: #ff9500;
	color: #0073be
}

.popover-title {
  background-color: #0073be;
  color: #FFFFFF;
  transform:uppercase;
  text-align:center;
}

.popover-content {
	background-color: #ff9500;
	color:#FFFFFF;
}
