@charset "UTF-8";

.modal-content{
	border-radius: .5rem;
}

.identifier-login{
	flex-direction: column;
}

/*.lineHeightLogin{
	line-height:40px;
}*/

h3.white.centrer{
	margin-bottom: .2rem;
	margin-top:.2rem;
}
