@charset "UTF-8";

/*-----------------------------HEADER-----------------------------------------*/
/*-------IMG Header----------*/
/*.divimgHeader{
	display:flex;
}*/
.divimgHeader{
	display:flex;
	justify-content:space-between;
	padding:0px;
	margin:0px;
}
.imgHeader{
	color:white;
}
.imgHeaderLeft{
	width:auto !important;
	background-color: #0073be;
	flex-grow: 3;
}
.imgHeaderRight{
	width:20px !important;
	background-color: #ff9500;
}

  /*-----------------------------FIN HEADER-----------------------------------------*/
 
 .sectionNouvClient{
	/*background-image: url("../IMG/IMG-FOND1.jpg");*/
	width:100%;
	background-color:#e6e6e6;
  	overflow: hidden;
  	margin: 0;
  	padding: 0;
  	position:absolute;
  	
  	flex-direction:column;
  	justify-content:space-between;
}
.carreBlanc{
	margin:0;
	padding:0;
	background-color: white;
	box-shadow: 0px 0px 15px 0px #bdbdbd;
	
	align-items:flex-start !important;
	flex-grow: 1;
}
.divVide{
	height:0px;
}
 .sectionFormClient{
 	display:flex;
 	flex-direction:column;
 	justify-content:center;
 	padding-top:30px;
 	min-height: calc(100% - 50px - 181px) !important;
 }
 .sectionForm{
 	display:flex;
 	flex-direction:row;
 	justify-content:flex-start;
 }
 .formIdentifier label{
 	padding-left:10px;
 }
 .formIdentifierLeft, .formIdentifierRight{
 	padding-left:20px;
 	padding-right:20px;
 }
 .MarginClient{
 	margin-left:40px;
 	margin-right:40px;
 }
 
input[type="email"],input[type="text"],input[type="password"], select.champsFormulaire {
  margin-top:5px;
}
  
  
  