@charset "UTF-8";

html {
  height: 100%;
}
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

a:hover{
	text-decoration: none;

}
.titre-formulaires{
	font-weight: 600;
	/*margin-top:15px;
	text-shadow: 0px 0px 10px black;*/

}


.texteDropDown{
	font-size: 1.2rem !important;
}
/*-------COLOR----------*/
.white{
	color:White !important;
}
.blue{
	color: #0073be;
}
.greyClair{
	color: #bdbdbd;
}
.greyFonce{
	color: #808080;
}
/*-----COLOR BACKGROUND-----*/
.bgOrange{
	background-color:#ff9500;
}
.bgBlue{
	background-color:#0073be;
}
.bgGreyFonce{
	background-color: #808080;
}
.bggreyClair{
	background-color: #bdbdbd !important;
}
.bggreyTresClair{
	background-color: #e6e6e6;
}
/*----------------------*/
.centrer{
	display: flex;
  	justify-content:center;
    align-items:center;
}
.top{
	display: flex;
  	justify-content:center;
    align-items:flex-start;
}
.left{
	display: flex;
  	justify-content: flex-start;
}


/*-----------------------------HEADER-----------------------------------------*/

/*----------ANIMATIONS JS HEADER-------------------*/

/* QUAND ON DESCEND */
.nav-is-stuck .main-header {
	position: fixed;
	/*top: 0; left: 0; right: 0;*/
}
.nav-is-stuck .menu {
	top: -50px;
	animation: stickAnim 0.5s;
}
@keyframes stickAnim {
	0% {transform: translateY(50px);}
	100% {transform: translateY(0);}
}
.nav-is-stuck .imgO {
	opacity: 0;
	animation: stickAnim2 0.5s;
}
@keyframes stickAnim2 {
	0% {opacity: 1;}
	100% {opacity: 0;}
}
.nav-is-stuck .sousMenu {
	top: -50px;
	animation: stickAnim3 0.5s;
}
@keyframes stickAnim3 {
	0% {transform: translateY(50px);}
	100% {transform: translateY(0);}
}
.nav-is-stuck header {
	height:95px;
	animation: stickAnim4 0.5s;
}
@keyframes stickAnim4 {
	0% {height:145px;}
	100% {height:95px;}
}


/* QUAND ON REMONTE */

.nav-is-remonte .menu {
	top: 0px;
	animation: stickAnim11 0.5s;
}
@keyframes stickAnim11 {
	0% {transform: translateY(-50px);}
	100% {transform: translateY(0);}
}
.nav-is-remonte .imgO {
	opacity: 1;
	animation: stickAnim21 0.5s;
}
@keyframes stickAnim21 {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
.nav-is-remonte .sousMenu {
	top: 0px;
	animation: stickAnim31 0.5s;
}
@keyframes stickAnim31 {
	0% {transform: translateY(-50px);}
	100% {transform: translateY(0);}
}
.nav-is-remonte header {
	height:145px;
	animation: stickAnim41 0.5s;
}
@keyframes stickAnim41 {
	0% {height:95px;}
	100% {height:145px;}
}
/*-------------------------*/


/*---------FIN ANIM JS HEADER----------*/

header{
	background-color: white;
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height:145px;
}
.textedivimgHeader{
	position:absolute;
	margin-left: auto;
  	margin-right: auto;
  	width: 100%;
  	font-weight: 600;
  	font-size:1.3rem;
  	line-height: 28px;
}
/*-------IMG Header----------*/
.menu{
	justify-content: space-between;
    top: 0;
    /*overflow: hidden;*/
    position: relative;
    z-index: -1;
}
.imgLogo{
	margin-left:70px;
}

.imgLogoPlateo{
	height:90px;
	width:90px;
}

.imgLogoText{
	height:53px;
	width:160px;
	margin-left:10px;
}

.divimgHeader{
	display:flex;
}
.imgHeaderRight{
	height:30px;
	width:50%;
	background-color: #ff9500;
}
.imgHeaderLeft{
	height:30px;
	width:50%;
	background-color: #0073be;
}
/*-------MENU----------*/
.menu nav ul{
	height:105px;
	margin:0;
	margin-right:20px;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    font-size:1.2rem;
}
greyClair ul{
    list-style-type: none;
  }

.textName{
	font-size:1rem !important;
}


.menu li, .menu .dropdown {
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-right: 50px;
    
  }
.menu .dropdown {
	
}

  .dropdown li{
  	margin-right: 0px !important;
  }
.menu li a {
    text-decoration: none;
    color :#39424E !important;
    font-weight: 600;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu li a p {
	margin-bottom:0;
}
.textIdentifier{
	line-height: 1.1;
	cursor: pointer;
}
.menu li img {
   width:45px;
   height:45px;
   margin:0;
   padding:0;
}

.buttonFauxA{
	border: 0;
    background-color: transparent;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    font-weight: 600;
    width: 100%;
}



/*------------------SOUS MENU-----------------*/
.dropdown {
  float: left;
}
.dropdown {
  font-size: 1rem;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  top:105px;
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown:hover  {
  color: white;
}
.dropdown-content a:hover, .buttonFauxA:hover {
  background-color: #ddd;
  color: black;
}
.dropdown:hover .dropdown-content {
  display: block;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

.sousMenu{
	height:10px;
	background-color: #0073be;
	position:relative;
	z-index: -2;
	padding-right:45px;
}
.activeSubnavContent{
	top:0px !important;
	opacity:1 !important;
	display: block !important;
}
.texteSousMenu {
  float: right;
  text-decoration: none;
  line-height: 40px;
  text-transform:uppercase;
  font-size:1rem;
  padding:0px 25px;
}
.texteSousMenu:hover {
	/*Orange*/
  background-color:#ff9500;
  color: white;
 /* transform: skewX(20deg);*/
}
.subnav:hover .subnav-content{
	/*display: block;*/
}
.subnav {
	overflow: hidden;
}
.overFlowHidden{
	overflow: hidden;
}
.height40{
	height:40px !important;
}
.subnav-content {
	width: 100%;
	height:40px;
	/*display: none;*/
	position: absolute;
	top:-40px;
	right: 0;
	background-color: #0073be;
	z-index: 1;
	opacity:0;
	padding-right:45px;
}
.activeSubnavContent{
	top:0px !important;
	opacity:1 !important;
	display: block !important;
}
.texteSousMenu {
  float: right;
  text-decoration: none;
  line-height: 40px;
  text-transform:uppercase;
  font-size:1rem;
  padding:0px 25px;
}
.texteSousMenu:hover {
	/*Orange*/
  background-color:#ff9500;
  color: white;
 /* transform: skewX(20deg);*/
}
.subnav:hover .subnav-content{
	/*display: block;*/
}



  /*-----------------------------FIN HEADER-----------------------------------------*/

 .section100pour100{
 	min-height: calc(100% - 50px - 145px);
 }
 .sectionNouvClient, .sectionNouvPro{
	width:100%;
	background-color:#e6e6e6;
	background: no-repeat center url("../img/maison-en-travaux.jpg");
	background-size: cover;
  	overflow: hidden;
  	margin: 0;
  	padding: 0;
  	position:absolute;
  	flex-direction:column;
  	justify-content:space-between;
}
.sectionNouvClient, .sectionNouvPro, .sectionIdentifier, .top-content{
	margin-top: 140px !important;
}



/*-----------------------------IDENTIFICATION-----------------------------------------*/
.sectionIdentifier{
	width:100%;
  	margin: 0;
  	padding: 0;
  	position:absolute;
  	align-items:flex-start !important;

  	/*padding-bottom: 50px;*/
}

.imgindex{

	width:100%;
}
.sectionIdentifier h2{
	padding-top:40px;
}

.sectionFormClient, .sectionFormPro{
 	display:flex;
 	flex-direction:column;
 	justify-content:center;
 	padding-top:10px;

 	min-height: calc(100% - 50px - 145px) !important;
}
.h2creerCompte{
	padding-top:0px !important;
}
.identifier {
	margin:0;
	padding:0;
	width:460px;
	background-color: white;
	flex-direction: column;

	box-shadow: 0px 0px 15px 0px black;
	justify-content:flex-start !important;
}
.btnFB{
	display:flex;
	flex-direction: row;
	margin-top:10px !important;
}
.logoFB{
	height:40px;
	margin-bottom:-10px;
}
.textFB{
	margin-left:10px;
	margin-bottom:0 !important;
}
.btnConnexion{
	width:200px !important;
}
.mdpOublie{
	align-self: flex-end;
	margin-right:10px;
}
 .formIdentifier{
 	flex-direction: column;
 }
.formIdentifier input{
	margin:10px;
	width:400px;
}
.ouPro{
	margin-top:15px;
	margin-bottom:0 !important;
}
.form-group{
	margin:0 20px 0.6rem 20px;
	min-width:380px;
}
.form-group-vide{
	height:86px;
	margin-bottom: 0.6rem;
}



input[type="email"],input[type="text"],input[type="password"], select.champsFormulaire {
  background: transparent;
  border: none;
  border-bottom: 1px solid #7d7d7d;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  margin:10px;
  margin-top:20px;
}

.labelForm{
 	font-weight: 500;
  	line-height: 1.2;
  	opacity:0.8;
	font-size: 1.4rem !important;
 }
::placeholder {
	font-size:1.3rem;
	color:#bdbdbd;
	font-style: italic;
}
select.champsFormulaire {
  background: transparent;
  border: none;
  border-bottom: 1px solid #7d7d7d;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  margin:10px;
  margin-top:20px;
}
input[type="email"]:focus,input[type="text"]:focus,input[type="password"]:focus, select.champsFormulaire:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn{
	width:160px;
	margin-top:20px;
	border-radius:10px;
	font-weight: 600;
	color:white;
	font-size:1.3rem;
}
.btnWidthLong{
	width:340px;
}
.btn.bgOrange:hover{
	background-color:#e68200;
	color:white;
}
.btn.bgBlue:hover{
	background-color:#005c99 !important;
	color:white;
}
.btn.bgGreyFonce:hover{
	background-color:#595959;
	color:white;
}
.btnPro, .btnClient{
	margin-bottom:40px;
}

.identifier h4{
 	padding-top:15px;
 }
 /*-----------------------------FIN IDENTIFICATION-----------------------------------------*/
 /*-----------------------------PLUS PRODUITS-----------------------------------------*/
 .plusProduits {
	/*margin:0;
	padding:0;
	width:100%;
	flex-direction: row;
	align-items:stretch;*/
}

 .plusProduitsClient, .plusProduitsPro{
 	/*min-height:600px;
 	opacity:0;*/
 }

.plusProduitsClient{
	/*width:60%;
	margin-left:-200px;
	transform: skewX(-20deg);*/
}
 .plusProduitsPro{
	/* width:60%;
	 margin-right:-200px;
	 transform: skewX(-20deg);*/
 }



 .plusProduitsClient:hover, .plusProduitsPro:hover{
 	/*opacity:1;
 	transition: all 0.3s ease-out;*/
 }


 /*-----------------------------FIN PLUS PRODUITS-----------------------------------------*/

.list {
	flex-direction: column;
	width: 90%;
	margin-top: 10px;
	margin-bottom: 70px;
	padding: 50px;
}

.list h1 {
	margin-top: 5px;
	margin-bottom: 50px;
}


.list th {
	text-decoration: underline;
	background-color: white;
}




 /*-----------------------------FOOTER-----------------------------------------*/
footer {
	margin-top: 85px;
	color: #fff;
	background: rgba(0, 0, 0, 0.3);
}
footer a:hover, footer a:focus {
	color: #fff;
}
.ulFooter{
	display:flex;
	flex-direction: row;
	justify-content: flex-end;
	list-style-type: none;
	color :white;

	margin-right:20px;
    padding: 0;
}
.ulFooter li{
	display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-right: 50px;
}

.ulFooter a{
	color :white;
	text-decoration: none;
    font-weight: 500;
    vertical-align:middle;
	line-height: 50px;
}
ul{
	margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
 /*-----------------------------FIN FOOTER-----------------------------------------*/

 /*--------------VERSION MOBILE si ecran egal ou plus petit que 1680px   */
@media screen and (max-width: 1680px) {
/*---------------MODIF FORMULAIRES----------------*/



}
 /*--------------VERSION MOBILE si ecran egal ou plus petit que 1440px   */
@media screen and (max-width: 1440px) {
	body{
		max-width:1440px;
	}
	.imgLogo{
		margin-left:40px;
	}
	.imgLogoPlateo{
		height:100px;
		width:100px;
	}
	.imgLogoText{
		width:160px;
		height:auto;
	}
	/*-------MENU----------*/
	.menu nav ul{
	    font-size:1rem;
	}
	.menu li {
	    margin-right: 40px;
	  }
	.menu li img {
	   width:45px;
	   height:45px;
	}



	.form-group {
	    margin-bottom: 0.5rem;
	}
	.labelForm{
	 	font-weight: 500;
	  	line-height: 1;
	  	font-size: 1.3rem;
	 }
	/*.sectionIdentifier h2{
		padding-top:40px;
	}
	.h2creerCompte{
		padding-top:0px !important;
	}
	.identifier {
		margin:0;
		padding:0;
		width:460px;
		background-color: white;
		flex-direction: column;

		box-shadow: 0px 0px 15px 0px black;
		justify-content:flex-start !important;
	} */
	 .formIdentifier{
	 	flex-direction: column;
	 }
	.formIdentifier input{
		margin:10px;
		width:400px;
	}

	::placeholder {
		font-size:1rem;
		color:#bdbdbd;
		font-style: italic;
	}
	input[type="email"],input[type="text"],input[type="password"], select.champsFormulaire {
	  background: transparent;
	  border: none;
	  border-bottom: 1px solid #7d7d7d;
	  -webkit-box-shadow: none;
	  box-shadow: none;
	  border-radius: 0;
	  margin:10px;
	  margin-top:20px;
	}
	input[type="email"]:focus,input[type="text"]:focus,input[type="password"]:focus, select.champsFormulaire:focus {
	  -webkit-box-shadow: none;
	  box-shadow: none;
	}
	.btn{
		width:160px;
		margin-top:20px;
		border-radius:10px;
		font-weight: 600;
		color:white;
		font-size:1.3rem;
	}
	.btnWidthLong{
		width:340px;
	}
	.btn:hover{
		background-color:#e68200;
		color:white;
	}
	.hoverBlue:hover{
		background-color:#005c99 !important;
	}
	.btnPro{
		margin-bottom:40px;
	}
	.identifier h4{
	 	padding-top:15px;
	}





}

 /*--------------VERSION MOBILE si ecran egal ou plus petit que 1280px   */
@media screen and (max-width: 1280px) {
	body{
		max-width:1280px;
	}
	.imgLogo{
		margin-left:20px;
	}
	.imgLogoPlateo{
		height:80px;
		width:80px;
	}
	.imgLogoText{
		width:130px;
		height:auto;
	}
	/*-------MENU----------*/
	.menu nav ul{
	    font-size:1rem;
	}
	.menu li {
	    margin-right: 40px;
	  }
	.menu li img {
	   width:45px;
	   height:45px;
	}
}

/*--------------VERSION MOBILE si ecran egal ou plus petit que 900px   */
@media screen and (max-width: 900px) {
	.imgLogoText{
		display:none;
	}
	
}

.page-item.active .page-link {
	z-index: 0 !important;
}
.nomSocieteProfil{
	font-weight: 600;
	font-size:2.8rem;
}
