/*--------------------FORMULAIRE INSCRIPTION CLIENT-------------------------------*/
.carreBlanc{
	margin:0;
	padding:0;
	background-color: white;
	box-shadow: 0px 0px 20px -10px black;
	
	align-items:flex-start !important;
	flex-grow: 1;
}
.borderradius{
	border-radius: .5rem;
}

.divVide{
	height:0px;
}
 .sectionForm{
 	display:flex;
 	flex-direction:row;
 	justify-content:flex-start;
 	align-items:flex-start;
 }
 .formIdentifier label{
 	padding-left:10px;
 }
 .formIdentifierLeft, .formIdentifierRight{
 	padding-left:20px;
 	padding-right:20px;
 }
 .MarginClient{
 	margin-left:40px;
 	margin-right:40px;
 }
 
input[type="email"],input[type="text"],input[type="password"], select.champsFormulaire {
  /*margin-top:5px;*/
}
 /*--------------------FIN FORMULAIRE INSCRIPTION CLIENT-------------------------------*/ 
 
 
 /*--------------------PAGE DEVIS ET VALIDATION-------------------------------*/ 
 
 .alignRight{
 color:white;
 text-align: right;
}
 
.clientEstimateValid .titre-formulaires{
	color:white;
	font-size:1.8rem;
}
.clientEstimateValid strong span{
	font-weight: 600;	
}
.clientEstimateValid .labelForm{
	/*line-height:1rem;*/
	padding: .2rem 0 !important;
}
.clientEstimateValid .rowFormulaire{
	margin:25px 10px 0 10px;
}
.soustitre-formulaires{
	color:white;
	margin-left:10px;
	margin-bottom:15px;
}


.blocInfosEstimate{
	background-color: #ECF6FC;
	border-radius: 10px;
	display:flex;
	flex-direction:column;
	padding:15px;
	width:500px;
} 
.doubleRowEstimate{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-between;
}

.boutonEstimate{
	width:calc(100% - 40px);
}
   