@charset "UTF-8";

/*-----------------------------HEADER-----------------------------------------*/
/*-------IMG Header----------*/
/*.divimgHeader{
	display:flex;
}*/
.divimgHeader{
	display:flex;
	justify-content:space-between;
	padding:0px;
	margin:0px;
}
.imgHeader{
	color:white;
}
.imgHeaderLeft{
	width:auto !important;
	background-color: #0073be;
	flex-grow: 3;
}
.imgHeaderRight{
	width:20px !important;
	background-color: #ff9500;
}

  /*-----------------------------FIN HEADER-----------------------------------------*/
 .sectionFormClient{
 	display:flex;
 	flex-direction:column;
 	justify-content:center;
 	padding-top:30px;
 }
 .sectionForm{
 	display:flex;
 	flex-direction:row;
 	justify-content:flex-start;
 }
 .sectionButton{
 	
 }
 .formIdentifier label{
 	padding-left:10px;
 }
 .formIdentifierLeft, .formIdentifierRight{
 	padding-left:20px;
 	padding-right:20px;
 }
 .formIdentifierLeft{
 	
 }
 .formIdentifierRight{
 	
 }
 .MarginClient{
 	margin-left:40px;
 	margin-right:40px;
 }
 .labelForm{
 	font-weight: 500;
  	line-height: 1.2;
  	font-size: 1.5rem;
 } 
 ::placeholder {
	font-size:1.5rem;
	color:#bdbdbd;
}
input[type="email"],input[type="text"], select.email {
  background: transparent;
  border: none;
  border-bottom: 1px solid #7d7d7d;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  margin:10px;
  margin-top:20px;
}
input[type="email"]:focus,input[type="text"]:focus, select.email:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn{
	width:160px;
	margin-top:20px;
	border-radius:10px;
	font-weight: 600;
	color:white;
	font-size:1.3rem;
}
.btnWidthLong{
	width:300px;
}
.btn:hover{
	background-color:#e68200;
	color:white;
}
.hoverBlue:hover{
	background-color:#005c99 !important;
}
.btnPro{
	margin-bottom:40px;
}
.identifier h4{
 	padding-top:15px;
 } 
  
  
  
  