@charset "UTF-8";

.modal-content{
	border-radius: .5rem;
}

.identifier-login{
	flex-direction: column;
}
.headermodal{
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	align-items:stretch;
}

.btnModal{
	width:30px;
	position:absolute;
	right:5px;
	top:8px;
}


h3.white.centrer{
	margin-bottom: .2rem;
	margin-top:.2rem;
	flex-grow: 1;
}

#modalQ{
	text-align: center;
}

