/*--------------------FORMULAIRE INSCRIPTION CLIENT-------------------------------*/
.carreBlanc{
	margin:0;
	padding:0;
	background-color: white;
	box-shadow: 0px 0px 20px -10px black;
	
	align-items:flex-start !important;
	flex-grow: 1;
}
.borderradius{
	border-radius: .5rem;
}





.divVide{
	height:0px;
}
 .sectionForm{
 	display:flex;
 	flex-direction:row;
 	justify-content:flex-start;
 	align-items:flex-start;
 }
 .formIdentifier label{
 	padding-left:10px;
 }
 .formIdentifierLeft, .formIdentifierRight{
 	padding-left:20px;
 	padding-right:20px;
 }
 .MarginClient{
 	margin-left:40px;
 	margin-right:40px;
 }
 
input[type="email"],input[type="text"],input[type="password"], select.champsFormulaire {
  /*margin-top:5px;*/
}
 /*--------------------FIN FORMULAIRE INSCRIPTION CLIENT-------------------------------*/ 
   