@charset "UTF-8";

/*-----------------------------HEADER-----------------------------------------*/
/*-------IMG Header----------*/
/*.divimgHeader{
	display:flex;
}*/
.divimgHeader{
	display:flex;
	justify-content:space-between;
	padding:0px;
	margin:0px;
}
.imgHeader{
	color:white;
}
.imgHeaderLeft{
	width:auto !important;
	background-color: #0073be;
	flex-grow: 3;
}
.imgHeaderRight{
	width:20px !important;
	background-color: #ff9500;
}

  /*-----------------------------FIN HEADER-----------------------------------------*/
 
 .sectionNouvClient{
	/*background-image: url("../IMG/IMG-FOND1.jpg");*/
	width:100%;
	background-color:#e6e6e6;
  	overflow: hidden;
  	margin: 0;
  	padding: 0;
  	position:absolute;
  	
  	flex-direction:column;
  	justify-content:space-between;
}
.carreBlanc{
	margin:0;
	padding:0;
	background-color: white;
	box-shadow: 0px 0px 15px 0px #bdbdbd;
	
	align-items:flex-start !important;
	flex-grow: 1;
}
.divVide{
	height:0px;
}
 .sectionFormClient{
 	display:flex;
 	flex-direction:column;
 	justify-content:center;
 	padding-top:30px;
 }
 .sectionForm{
 	display:flex;
 	flex-direction:row;
 	justify-content:flex-start;
 }
 .formIdentifier label{
 	padding-left:10px;
 }
 .formIdentifierLeft, .formIdentifierRight{
 	padding-left:20px;
 	padding-right:20px;
 }
 .MarginClient{
 	margin-left:40px;
 	margin-right:40px;
 }
 
input[type="email"],input[type="text"],input[type="password"], select.champsFormulaire {
  margin-top:5px;
}
  
/*---------------------------------------MEDIA QUERYS-------------------------------*/   
 
  /*--------------VERSION MOBILE si ecran egal ou plus petit que 1440px   */ 
  @media screen and (max-width: 1440px) {
/*---------------MODIF FORMULAIRES----------------*/ 

	 .sectionFormClient{
	 	padding-top:20px;
	 }
}
  
  
  
  
  
  
  
  
  
  
  
  /*-----------------a supp------------*/
  
  
 /* The subnavigation menu */
.subnav {
  float: right;
  overflow: hidden;
  font-size: 1.1rem;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
/* Add a red background color to navigation links on hover */
.subnav:hover {
  /*background-color:#0073be;*/
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  right: 0;
  top:150px;
  background-color:#0073be;
  width: 100%;
  z-index: 1;
   color: white;
}

/* Style the subnav links */
.subnav-content a {
  float: right;
  color: white;
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color:#0073be;
  
  color: white;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
} 
  
  
  
  
  
  