<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="public/head :: head"></head>
<head>
	<link th:href="@{/css/designCss.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/css/styleFormulaireClient.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/css/styleClient.css}" rel="stylesheet" type="text/css">
	
	<link rel="stylesheet" type="text/css" th:href="@{/ListDataTables/datatables.min.css}"/>
	<script type="text/javascript" th:src="@{/ListDataTables/datatables.min.js}"></script>
	<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('#MesDemandesDevis').dataTable();
		$('#MesDevisAcceptes').dataTable();
		$('#proList').dataTable();
	} );
	</script>
</head>
<body>
	<header th:replace="clients/headerdashboard :: headerdashboard"></header>
	<!-- -----------------MODIFIER LE PASSWORD------------------- -->
	<th:block th:include="/clients/clientEditPassword.html :: clienteditpassword"></th:block>
	<!-- ------------MODIFICATION DU PASSWORD REUSSIE------------- -->
	<div align="center" th:if="${msgok eq 'ok'}"
		class="alert alert-success">
		<strong>Modification du profil réussie</strong>
	</div>
	
	<div class="top-content">
		<div class="inner-bg">
	        <div class="container containerDevisMaxWidth">
		        <div class="row2Devis">
		       		<!-- ---------------PREMIERE ROW DEMANDE DEVIS--------------------- -->
		        	<div class="rowMesDemandesDevis">
		        		<div class="row centrer">
			                <div class=" text centrer">
			                    <h1>Mes demandes de <strong>devis</strong></h1>
			                </div>
			            </div>
			            <div class="row centrer">
			            	<div class="form-box">
			            		<div class="form-bottom texteTable">
									<table th:fragment="devis" id="MesDemandesDevis" class="table table-striped table-bordered">
										<thead>
											<tr>
												<th scope="col">numéro Devis</th>
												<th scope="col">Date</th>
												<th scope="col">Ville</th>
												<th scope="col">Code postal</th>
												<th scope="col">Edition</th>
												<th scope="col">Action</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="estimate : ${MesDemandesDevis}">
												<td th:text="${estimate.id}"></td>
												<td th:text="${#temporals.format(estimate.requestDate, 'dd-MM-yyyy HH:mm')}"></td>
												<td th:text="${estimate.workCity}"></td>
												<td th:text="${estimate.workPostcode}"></td>
												<td><a th:href="@{/clients/clientDashboard/{id}(id=${estimate.id})}">Edit</a></td>
												<td><a th:href="@{/clients/EstimateDelete/{id}(id=${estimate.id})}">Delete</a></td>      	      
											</tr>
										</tbody>
									</table>	
								</div>
			            	</div>
			            </div>
			         </div>
		        	<!-- ---------------DEUXIEME ROW DEVIS ACCEPTES--------------------- -->
		        	<div class="rowMesDevisAcceptes">
		        		<div class="row centrer">
			                <div class="col-sm-8 col-sm-offset-2 text centrer">
			                    <h1>Mes <strong>devis</strong> acceptés</h1>
			                </div>
			            </div>
			            <div class="row centrer">
			            	<div class="form-box">
			            		<div class="form-bottom texteTable">
									<table th:fragment="devis" id="MesDevisAcceptes" class="table table-striped table-bordered">
										<thead>
											<tr>
												<th scope="col">numéro Devis</th>
												<th scope="col">Ville</th>
												<th scope="col">Code postal</th>
												<th scope="col">Edition</th>
												<th scope="col">Action</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="estimate : ${MesDevisAcceptes}">
												<td th:text="${estimate.id}"></td>
												<td th:text="${estimate.workCity}"></td>
												<td th:text="${estimate.workPostcode}"></td>
												<td><a th:href="@{/clients/clientDashboard/{id}(id=${estimate.id})}">Annuler</a></td>
												<td><a th:href="@{/clients/EstimateDelete/{id}(id=${estimate.id})}">Delete</a></td>      	      
											</tr>
										</tbody>
									</table>	
								</div>
			            	</div>
			            </div>
			         </div>
			      </div>
		       <div th:replace="clients/proList :: divRowProlist"></div>
	        </div>
	    </div>
	</div>
	<div class="backstretch">
		<img src="/img/1.jpg">
	</div>
    <footer th:replace="public/footer :: footer"></footer>
    <script th:src="@{/js/scripts.js}"></script>
</body>
</html>