<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="public/head :: head"></head>
<body>

	<section th:fragment="clienteditpassword">
		<div id="loginModal" class="modal fade" data-keyboard="false"
			data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content overFlowHidden">
					<div class="bggreyClair headermodal">
						<h3 class="white centrer">
							<strong>PARTICULIER</strong>
						</h3>
						<button type="button" class="close btnModal" data-dismiss="modal">
							<span>&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="identifier-login centrer">
							<form class="formIdentifier centrer" role="form" autocomplete="off" id="formLogin"
								th:object="${client}" th:action="@{/clients/clientEditPassword}"
								method="POST">
								<div class="form-group formIdentifier">
									<input type="hidden" id="clientId" name="id" th:field="*{id}"
										class="champsFormulaire" />
									<!-- message -->
									<div th:if="${msg eq 'fail'}"
										class="alert alert-danger alert-dismissable">
										<strong>Les 2 mots de passe ne correspondent pas</strong>
									</div>
									<div class="form-group">
										<input type="password" name="password" class="champsFormulaire"
											placeholder="Nouveau mot de passe" id="password"
											minlength="6" required>
										<!-- <div class="invalid-feedback">Mot de passe incorrect</div> -->
									</div>
									<div class="form-group">
										<input type="password" name="confirmpassword" class="champsFormulaire"
											placeholder="Confirmez nouveau mot de passe"
											id="confirmpassword" minlength="6" required>
										<!-- <div class="invalid-feedback">Mot de passe incorrect</div> -->
									</div>
									<div class="form-group" align="center">
										<button class="btn bgOrange" type="submit">Valider</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>