<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="public/head :: head"></head>
<head>

        
        <link th:href="@{/css/styleClient.css}" rel="stylesheet" type="text/css" >
        <link rel="stylesheet" type="text/css" th:href="@{/ListDataTables/datatables.min.css}"/>
        <script type="text/javascript" th:src="@{/ListDataTables/datatables.min.js}"></script>
        
		<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$('#estimatesList').dataTable();
			} );
		</script>

</head>

    <body>
    <header th:replace="clients/headerdashboard :: headerdashboard">	
	
	</header>

        <section class="sectionIdentifier sectionplusProduits section100pour100 centrer">
           <div class="plusProduits list">

	       <h1 class="centrer" th:if="${mode eq 'draft'}">Liste des demandes de devis à terminer</h1>
	       <h1 class="centrer" th:if="${mode eq 'request'}">Liste de mes demandes de devis</h1>
	       <h1 class="centrer" th:if="${mode eq 'awaiting'}">Liste des réponses</h1>
	       <h1 class="centrer" th:if="${mode eq 'accepted'}">Liste de mes acceptations de devis</h1>
	       <h1 class="centrer" th:if="${mode eq 'converted'}">Liste de mes factures</h1>
		
	       <table id="estimatesList" class="table table-striped table-bordered">
	           <thead>
            	    <tr>
            	      <th scope="col">numéro Devis</th>
            	      <th scope="col">Date demande</th>
            	      <th scope="col">Ville</th>
            	      <th scope="col">Code postal</th>
            	      <th scope="col">Statut</th>
            	      <th scope="col">Edition</th>
            	      <th scope="col">Action</th>
            	      
            	    </tr>
	          </thead>
        	  <tbody>
        	    <tr th:each="estimate : ${estimatesStatusList}">
        	      <td th:text="${estimate.id}"></td>
        	      <td th:text="${estimate.requestDate}"></td>
        	      <td th:text="${estimate.workCity}"></td>
        	      <td th:text="${estimate.workPostcode}"></td>
        	      <td th:text="${estimate.estimateStatus}"></td>
        	      <td>  <a href="#">Edit</a></td>
          		  <td><a th:href="@{/clients/EstimateDelete/{id}(id=${estimate.id})}">Delete</a></td>      	      
        	      
        	    </tr>
	           </tbody>
	       </table>	
</div>
<div class="divVide"></div>
</section>

        <footer th:replace="public/footer :: footer">
    </footer>
    </body>
</html>







