<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="public/head :: head"></head>
<head>
<link th:href="@{/css/designCss.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/styleClient.css}" rel="stylesheet" type="text/css">
<script type="text/javascript" th:src="@{/ListDataTables/datatables.min.js}"></script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			$('#proList').dataTable();
		} );
	</script>
</head>
<body>

	<header th:replace="clients/headerdashboard :: headerdashboard"></header>
	
	<th:block
		th:include="/clients/clientEditPassword.html :: clienteditpassword"></th:block>
	<!-- message -->
	<div align="center" th:if="${msgok eq 'ok'}"
		class="alert alert-success">
		<strong>Modification du profil réussie</strong>
	</div>
	<h1>Annuaire des <strong>Professionnels</strong></h1>
	
	<div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="table-responsive">
                      <div th:replace="clients/ClientEstimatesList.html :: devis"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="table-responsive">
                        <div th:replace="public/proList :: tablePro"></div>
                    </div>
                </div>
                <div class="row">
                <div class="col-md-12">
                    
 <script type="text/javascript" src="https://feed.mikle.com/js/fw-loader.js" data-fw-param="120330/"></script>
                            
                        </div>
                    </div>
                </div>
                </div>
    
	
					
					
					
					
					
					
					
					
		
		
	
		<div class="backstretch">
			<img src="/img/1.jpg">
		</div>
        <footer th:replace="public/footer :: footer"></footer>
        <script th:src="@{/js/scripts.js}"></script>
    
</body>
</html>
