<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="public/head :: head"></head>
<head>
	<link th:href="@{/css/styleClient.css}" rel="stylesheet" type="text/css" >
</head>
<body>
	<header th:replace="/clients/headerblanck :: headerblanck"> </header>
<body>
	<div>
		<h3 align="center">Votre compte client à bien été créé</h3>
		<h3 align="center">Veuillez vous authentifier pour accéder au site PLATEO</h3>
	</div>
	
	<div class="row">
		<div align="center" class="col-md-3"></div>
		<div align="center" class="col-md-3">
			<a href="/" class="btn bgOrange MarginClient">Accueil</a>
		</div>

		<div align="center" class="col-md-3">
			<a href="/clients/clientDashboard" class="btn bgOrange MarginClient">Se Connecter</a>
		</div>
		<div align="center" class="col-md-3"></div>

	</div>
</body>
</html>
