<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link th:href="@{/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css}"
	rel="stylesheet">
<link href="/static/css/styleLogin.css" th:href="@{/css/styleLogin.css}"
	rel="stylesheet" type="text/css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

</head>
<body>

<div th:fragment="clienteditpassword">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center py-2">
				<a href="#loginModal" role="button" data-toggle="modal"><button>Modifier
						mon mot de passe</button></a>
			</div>
		</div>
	</div>

	<div id="loginModal" class="modal fade" tabindex="-1" role="dialog"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">

					<h3>Modification du mot de passe</h3>

					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
				</div>

				<div class="modal-body">
					<form class="form" role="form" autocomplete="off" id="formLogin"
						th:object="${client}" th:action="@{/clients/clientEditPassword}"
						method="POST">
						<div class="form-group formIdentifier left">
							<input type="hidden" id="clientId" name="id" th:field="*{id}"
								class="champsFormulaire" />
						</div>

						<!-- message -->
						<div th:if="${msg eq 'fail'}"
							class="alert alert-danger alert-dismissable">
							<button type="button" class="close" data-dismiss="alert"
								aria-hidden="true">&times;</button>
							<strong>Les 2 mots de passe ne correspondent pas</strong>
						</div>

						<div class="form-group">
							<input type="password" placeholder="Nouveau mot de passe"
								class="form-control form-control-lg" name="password"
								id="password" minlength="3" required>
							<!-- <div class="invalid-feedback">Mot de passe incorrect</div> -->
						</div>
						
						<div class="form-group">
							<input type="password" placeholder="Confirmez nouveau mot de passe"
								class="form-control form-control-lg" name="confirmpassword"
								id="confirmpassword" minlength="6" required>
							<!-- <div class="invalid-feedback">Mot de passe incorrect</div> -->
						</div>

						<div class="form-group py-4">

							<button type="submit" class="btn btn-success btn-lg float-right"
								id="btnLogin">Valider</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>