<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="public/head :: head"></head>
<head>
	<link th:href="@{/css/styleClient.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/css/styleFormulaireClient.css}" rel="stylesheet"type="text/css">
	<link th:href="@{/css/designCss.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<header th:replace="clients/headerdashboard :: headerdashboard"></header>
	<div class="top-content clientEstimateValid">
            <div class="inner-bg">
                <div class="container containerMaxWidth">
                    <div class="row centrer">
                        <div class="col-sm-8 col-sm-offset-2 text centrer">
                            <h1><strong>Devis Peinture</strong> numéro : 12</h1>
                        </div>
                    </div>
                    <div class="row centrer">
                       	<div class="form-box">
                            <div class="form-bottom">
                            <h3 class="alignRight">date du jour: 28/11/19</h3>
	                            <form class="registration-form" th:action="@{/clients/clientDashBoard}"
				 						method="post">
									<div class="doubleRowEstimate">
								  		<div class="rowFormulaire">
											<h2 class="titre-formulaires ">Informations du professionnel</h2>
											<div class="blocInfosEstimate">
												<strong><span class="col-form-label labelForm">SARL ENTREPRISE GRL</span></strong>						 
												<span class="col-form-label labelForm">
												Quartier le Douard - RD8, ZI P.A. Plaine de Jouques, 13420 Gémenos</span>
												<span class="col-form-label labelForm">Gérante : France Gall</span>
												<span class="col-form-label labelForm">Siret : 430 402 123 00037</span>
												<span class="col-form-label labelForm">numéro TVA : FR 40 123456824</span>
												<span class="col-form-label labelForm">Tél : 04 91 17 28 34</span>
												<span class="col-form-label labelForm">e-mail :  serviceclient@grl.fr</span> 
											</div>
										</div>
										<div class="rowFormulaire">
											<h2 class="titre-formulaires ">Informations du client</h2>
											<div class="blocInfosEstimate">
												<strong><span class="col-form-label labelForm">M. Jean Dupont</span></strong>					 
												<span class="col-form-label labelForm">
												12, rue keller 13006 Marseille</span> 
												<span class="col-form-label labelForm">
												Tél : 06 54 34 67 12</span>
												<span class="col-form-label labelForm">
												e-mail : j14.dupont@gmail.com</span> 
											</div>
										</div>
									</div>
									<div class="rowFormulaire">
										<h2 class="titre-formulaires">Prestations demandées et prix unitaires</h2>
										<h4 class="soustitre-formulaires">Peinture</h4>
										<div class="sousColumnFormulaire">
											<div class="form-group">
												<label for="mur" class="white labelForm">Plafond/Mur</label> 
												<input type="text" id="totalHT" name="totalHT" class="form-first-name form-control"
														placeholder="totalHT" value="Mur">
											</div>
											<div class="form-group">
												<label for="quantité" class="white labelForm">Quantité</label> 
												<input type="text" id="totalHT" name="totalHT" class="form-first-name form-control"
														placeholder="totalHT" value="1">
											</div>
											<div class="form-group"> 
												<label for="mur" class="white labelForm">Surface(m²)</label> 
												<input type="text" id="totalHT" name="totalHT" class="form-first-name form-control"
														placeholder="totalHT" value="100">
											</div>
											<div class="form-group">
												<label for="mur" th:text="Prix" class="white labelForm">Prix</label> 
												<input type="text" id="totalHT" name="totalHT" class="form-first-name form-control"
														placeholder="totalHT" value="15€ HT / m²">
											</div>
											<div class="form-group"> 
												<label for="totalHT" class="white labelForm">Total HT : </label>
												<input type="text" id="totalHT" name="totalHT" class="form-first-name form-control"
														placeholder="totalHT" value="1500 €">
											</div>
											<div class="form-group">
												<label for="totalTVA" class="white labelForm">Total TVA (10%) : </label>
												<input type="text" id="totalTVA" name="totalTVA" class="form-first-name form-control"
														placeholder="totalTva" value="150 €">
											</div>
											<div class="form-group">
												<label for="totalTTC" class="white labelForm">Total TTC : </label>
												<input type="text" id="totalTTC" name="totalTTC" class="form-first-name form-control"
														placeholder="totalTTC" value="1650 €">
											</div>
											<div class="form-group">
												<label for="validityDate" class="white labelForm">Date de validité :</label>
												<input type="text" value="01/04/2020" id="validityDate" name="validityDate" class="form-first-name form-control">
											</div>
											<div class="form-group">
												<label for="validityDate" class="white labelForm">Conditions de paiement :</label>
												<input type="text" value="Virement Pay Pal" id="validityDate" name="validityDate" class="form-first-name form-control">
											</div>
										</div>
									</div>
									<div class="rowFormulaire">
										<h2 class="titre-formulaires">Informations complémentaires</h2>
										<div class="sousColumnFormulaire">
											<div class="form-group">
												<label for="workAddress" class="white labelForm">Adresse du chantier</label>
												<input type="text" id="workAddress" name="workAddress" value="45 rue centrale"
													class="form-first-name form-control"/>
											</div>
											<div class="form-group">
												<label for="workPostcode" class="white labelForm">Code
													postal</label>
												<input type="text" pattern="[0-9]{5}" id="workPostcode"
													name="workPostcode" value="13013"placeholder="Saisir code postal"
													class="form-first-name form-control"/>
											</div>
											<div class="form-group">
												<label for="workCity" class="white labelForm">Ville</label>
												<input type="text" id="workCity" value="Marseille"
													name="workCity" class="form-first-name form-control"placeholder="Saisir ville"/>
											</div>
											<div class="form-group">
												<label for="workComment" class="white labelForm">Commentaires</label>
												<textarea rows="5" maxlength="255" id="workComment"
													 class="form-first-name form-control" placeholder="Commentaires"></textarea>
											</div>
											<div class="form-group">
												<label for="beginDate" class="white labelForm">Date
													début chantier</label>
												<input type="text" id="beginDate" value="03/12/20" class="form-first-name form-control"
													placeholder="Saisir date début chantier" />
											</div>
											<div class="form-group">
												<label for="workDeadline" class="white labelForm">Date
													fin chantier prévue</label>
												<input type="text" id="workDeadline" value="03/12/20" class="form-first-name form-control"
													placeholder="Saisir date fin chantier prévu"/>
											</div>
											<div class="form-group">
												<label for="accessDescription" class="white labelForm">Description accès</label>
												<input type="text" id="accessDescription" value="Porte D" class="form-first-name form-control"
													placeholder="Description accès"/>
											</div>
											
											<div class="form-group">
												<label for="usableParkingSpace" class="white labelForm">Parking</label>
												<input type="text" id="usableParkingSpace" class="form-first-name form-control"
													placeholder="Parking" value="Pas de Parking"/>
											</div>
										</div>
									</div>
									<div class="middle-border-horizontal width-form-box"></div>
									<div class="boutonEstimate">
		                    			<button type="submit" class="btn width-form-box">Valider</button>
		                       		</div> 
			                    </form>
		                    </div>
                       	</div>
                    </div>
                </div>
            </div>
        </div>
		<div class="backstretch">
			<img src="/img/1.jpg">
		</div>
        <!-- Footer -->
        <footer th:replace="public/footer :: footer"></footer>
        
        <script th:src="@{/js/scripts.js}"></script>
        
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

</body>
</html>