<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="public/head :: head"></head>
<head>
<link th:href="@{/css/styleClient.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/styleFormulaireClient.css}" rel="stylesheet"
	type="text/css">
</head>
<body>
	<header th:replace="clients/headerdashboard :: headerdashboard"></header>
	<section class="sectionNouvClient section100pour100 centrer">

		<div class="centrer carreBlanc">

			<form class="centrer sectionFormClient" action="#"
				th:action="@{/clients/valideEstimate/} + ${processInstanceId} + '/' + ${estimateid}"
				th:object="${estimate}" method="post">
				<div>
					<h2 class="blue titre-formulaires ">Validation du devis</h2>
				</div>

				Id du process : <label th:text="${processInstanceId}"></label> Id
				client : <label th:text="${client.id}"></label> Id devis : <label
					th:text="${estimateid}"></label>
				<div class="centrer sectionForm" th:if="${estimateid}==0">

					<div class="formIdentifierLeft">

						<div class="form-group formIdentifier left">
							<label for="workAddress" class="col-form-label blue labelForm">Adresse
								du chantier</label> <input type="text" id="workAddress"
								name="workAddress" th:value="${client.clientAddress}"
								class="champsFormulaire" required />
						</div>

						<div class="form-group formIdentifier left">
							<label for="workPostcode" class="col-form-label blue labelForm">Code
								postal</label> <input type="text" pattern="[0-9]{5}" id="workPostcode"
								name="workPostcode" th:value="${client.clientPostcode}"
								placeholder="Saisir code postal" class="champsFormulaire"
								required />
						</div>

						<div class="form-group formIdentifier left">
							<label for="workCity" class="col-form-label blue labelForm">Ville</label>
							<input type="text" id="workCity" th:value="${client.clientCity}"
								name="workCity" class="champsFormulaire"
								placeholder="Saisir ville" required />
						</div>
						<div class="form-group formIdentifier left">
							<label for="workComment" class="col-form-label blue labelForm">Commentaires</label>
							<textarea rows="5" cols="50" maxlength="255" id="workComment"
								th:field="*{workComment}" class="champsFormulaire"
								placeholder="Commentaires"></textarea>
						</div>

					</div>

					<div class="formIdentifierRight">
						<div class="form-group formIdentifier left">
							<label for="requestDate" class="col-form-label blue labelForm">Date
								début chantier</label> <input type="date" id="requestDate"
								th:field="*{requestDate}" class="champsFormulaire"
								placeholder="Saisir date début chantier" required />

						</div>
						<div class="form-group formIdentifier left">
							<label for="accessDescription"
								class="col-form-label blue labelForm">Description accès</label>
							<input type="text" id="accessDescription"
								th:field="*{accessDescription}" class="champsFormulaire"
								placeholder="Description accès" />

						</div>
						<div class="form-group formIdentifier left">
							<label for="usableParkingSpace"
								class="col-form-label blue labelForm">Parking</label> <input
								type="text" th:field="*{usableParkingSpace}"
								id="usableParkingSpace" class="champsFormulaire"
								placeholder="Parking" />
						</div>
						<div class="form-group formIdentifier left">
							<label for="workDeadline" class="col-form-label blue labelForm">Work
								deadline</label>
							<textarea rows="5" cols="50" maxlength="255" id="workDeadline"
								th:field="*{workDeadline}" class="champsFormulaire"
								placeholder="Work deadline"></textarea>
						</div>
					</div>
					<div align="center">
						<button type="submit" class="btn btn-primary">Valider</button>
					</div>
				</div>

			</form>

			<div class="centrer sectionForm" th:if="${estimateid}!=0">
				<form class="centrer sectionFormClient" action="#"
					th:action="@{/clients/valideEstimate2/} + ${processInstanceId} + '/' + ${estimateid}"
					th:object="${estimate}" method="post">
					<div align="center">
						<button type="submit" class="btn btn-primary">Valider2</button>
					</div>
				</form>
			</div>


		</div>
	</section>
</body>
</html>
