<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="public/head :: head"></head>
<head>
<link th:href="@{/css/styleClient.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<header th:replace="clients/headerdashboard :: headerdashboard"></header>
	<h1 class="text-center">Demande de devis</h1>
	<h4 class="text-center">
		<small class="text-muted">Vous remplissez le formulaire de
			demande de devis</small>
	</h4>
	<div class="list-group container">
		<a th:each="prof,stat : ${professions}"
			th:href="@{/clients/professionRequest/} + ${prof.id} + '/' + ${estimateid}" th:text="${prof.name}"
			th:classappend="${(prof.enabled? '' : 'disabled')}"
			class="list-group-item list-group-item-action list-group-item-primary"></a>
	</div>
	
	<footer th:replace="public/footer :: footer"></footer>
</body>
</html>