<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="public/head :: head"></head>
<head>
<link th:href="@{/css/styleClient.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/styleFormulaireClient.css}" rel="stylesheet"
	type="text/css">
</head>
<body>
	<header th:replace="clients/headerdashboard :: headerdashboard"></header>
	<section class="sectionNouvClient section100pour100 centrer">

		<div class="centrer carreBlanc">

			<form class="centrer sectionFormClient" action="#"
				th:action="@{/clients/valideEstimate/} + ${processInstanceId} + '/' + ${estimateid}"
				th:object="${estimate}" method="post">

				<!-- message error date-->
				<div align="center" th:if="${msg eq 'datesup'}"
					class="alert alert-danger alert-dismissable">
					<strong>La date de début chantier est supérieur à la date
						de fin chantier</strong>
				</div>

				<div>
					<h2 class="blue titre-formulaires ">Validation du devis</h2>
				</div>

				<div class="centrer sectionForm">

					<div class="formIdentifierLeft">

						<div class="form-group formIdentifier left">
							<label for="workAddress" class="col-form-label blue labelForm">Adresse
								du chantier</label> <input type="text" id="workAddress"
								name="workAddress" th:field="*{workAddress}"
								class="champsFormulaire" required />
						</div>

						<div class="form-group formIdentifier left">
							<label for="workPostcode" class="col-form-label blue labelForm">Code
								postal</label> <input type="text" pattern="[0-9]{5}" id="workPostcode"
								name="workPostcode" th:field="*{workPostcode}"
								placeholder="Saisir code postal" class="champsFormulaire"
								required />
						</div>

						<div class="form-group formIdentifier left">
							<label for="workCity" class="col-form-label blue labelForm">Ville</label>
							<input type="text" id="workCity" th:field="*{workCity}"
								name="workCity" class="champsFormulaire"
								placeholder="Saisir ville" required />
						</div>

						<div class="form-group formIdentifier left">
							<label for="workComment" class="col-form-label blue labelForm">Commentaires</label>
							<textarea rows="5" cols="50" maxlength="255" id="workComment"
								th:field="*{workComment}" class="champsFormulaire"
								placeholder="Commentaires"></textarea>
						</div>
						<div align="center">
							<button type="submit" name="prestation" value="otherprestation"
								class="btn btn-primary">Rajouter une prestation</button>
						</div>
					</div>

					<div class="formIdentifierRight">
						<div class="form-group formIdentifier left">
							<label for="requestDate" class="col-form-label blue labelForm">Date
								début chantier</label> <input type="date" id="requestDate"
								th:field="*{requestDate}" class="champsFormulaire"
								placeholder="Saisir date début chantier" required />

						</div>
						<div class="form-group formIdentifier left">
							<label for="workDeadline" class="col-form-label blue labelForm">Date
								fin chantier prévu</label> <input type="date" id="workDeadline"
								th:field="*{workDeadline}" class="champsFormulaire"
								placeholder="Saisir date fin chantier prévu" required />
						</div>
						<div class="form-group formIdentifier left">
							<label for="accessDescription"
								class="col-form-label blue labelForm">Description accès</label>
							<input type="text" id="accessDescription"
								th:field="*{accessDescription}" class="champsFormulaire"
								placeholder="Description accès" />

						</div>
						<div class="form-group formIdentifier left">
							<label for="usableParkingSpace"
								class="col-form-label blue labelForm">Parking</label> <input
								type="text" th:field="*{usableParkingSpace}"
								id="usableParkingSpace" class="champsFormulaire"
								placeholder="Parking" />
						</div>

						<div class="form-group formIdentifier left">
							<input type="hidden" th:field="*{id}" id="id"
								class="champsFormulaire" />
						</div>
						<div class="form-group formIdentifier left">
							<input type="hidden" th:field="*{client.id}" id="clientid"
								class="champsFormulaire" />
						</div>
						<div align="center">
							<button type="submit" name="prestation" value="endprestation"
								class="btn btn-primary">Terminer le devis</button>
						</div>
					</div>

				</div>

			</form>

		</div>
	</section>

</body>
</html>