<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">

<body>
	<header th:fragment="headerdashboard">
		<div class="textedivimgHeader centrer white">PARTICULIER</div>
		<div class="divimgHeader">
			<div class="imgHeaderLeft"></div>

			<div class="imgHeader">
				<img th:src="@{/img/IMG_HEADER.jpg}">
			</div>

			<div class="imgHeaderRight"></div>

		</div>

		<section class="menu centrer">
			<a th:href="@{/}" class="imgLogo"> <img class="imgLogoPlateo"
				alt="logo Plateo" th:src="@{/img/LOGO-BD.png}"> <img
				class="imgLogoText" alt="logo textuel Plateo"
				th:src="@{/img/logo-texte-BD.png}">
			</a>
			<nav>
				<ul class="menuUl">
					<li>
						<a th:href="@{/clients/proList}">
						<img th:src="@{/img/LOUPE.jpg}">
							<p>Rechercher un Pro</p>
						</a>
					</li>
					<div class="dropdown">
						<li>
							<a href=""  class="texteDropDown"> <!-- th:href="@{/public/registration}" -->
								<img th:src="@{/img/DEVIS.jpg}">
								<p>Devis</p>
							</a>
							<div class="dropdown-content">
	     						<a th:href="@{/clients/estimateRequest}">DEMANDER UN DEVIS</a>
	      						<a th:href="@{/pro/proDashboard}">MES DEVIS EN COURS</a>
	    					</div>
	    				</li>
	    			</div>
					<li>
						<a href="">
						<img th:src="@{/img/COEUR.jpg}">
							<p>Mes factures</p>
						</a>
					</li>


					<li><a th:href="@{/clients/clientEdit/{id}(id=${client.id})}">
							<img th:src="@{/img/PROFIL.jpg}">
							<p>Modifier mon profil</p>
					</a></li>
				</ul>
			</nav>
			<div class="navbar-nav flex-row" th:if="${#request.userPrincipal}">
				<div>
					<b>
						<span>Bonjour,</span>
						<br>
						<span th:text="${client.clientLastname}" />
						<span th:text="${client.clientFirstname}" />
					</b>
				</div>
				<div>
					<form th:action="@{/clients/logout}" method="post"
						class="form-inline my-2 my-lg-0">
						<button class="btn bgOrange my-2 my-sm-0" type="submit">Déconnexion</button>
					</form>
				</div>
			</div>
		</section>

		<div class="sousMenu"></div>
	</header>
</body>
</html>