<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">


<body>
	<header th:fragment="header">
		<div class="textedivimgHeader centrer white">
			PARTICULIER
		</div>
		<div class="divimgHeader">
			<div class="imgHeaderLeft"></div>

			<div class="imgHeader">
				<img th:src="@{/img/IMG_HEADER.jpg}">
			</div>

			<div class="imgHeaderRight"></div>

		</div>


		<section class="menu centrer">
			<a href="/templates/index" th:href="@{/index}" class="imgLogo">
				<img class="imgLogoPlateo" alt="logo Plateo" th:src="@{/img/LOGO-BD.png}">
				<img  class="imgLogoText" alt="logo textuel Plateo" th:src="@{/img/logo-texte-BD.png}">
			</a>
			<nav>
				<ul class="menuUl">
					<li>
						<img th:src="@{/img/LOUPE.jpg}">
						<a href="">Rechercher un Pro</a>
					</li>
					<li>
						<img th:src="@{/img/COEUR.jpg}">
						<a href="">Mes favoris</a>
					</li>
					<li>
						<img th:src="@{/img/DEVIS.jpg}">
						<a href="">Demander un devis</a>
					</li>
					<li>
						<img th:src="@{/img/MAIL.jpg}">
						<a href="">Messagerie</a>
					</li>
					
					<li>
						<img th:src="@{/img/PROFIL.jpg}">
						<a class="textIdentifier" href="/">Mon profil</a>
						<!-- <a class="textIdentifier" href="/templates/inscription" th:href="@{/inscription}" >S'identifier <p> ou s'inscrire </p></a>-->

					</li>
				</ul>
			</nav>
		</section>

		<div class="sousMenu"></div>
	</header>
</body>
</html>