<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"  lang="en" class=" js ">
<body>
	<header th:fragment="headerdashboard" id="header" role="banner" class="main-header">
		<div class="textedivimgHeader centrer white">PARTICULIER</div>
		<div class="divimgHeader">
			<div class="imgHeaderLeft"></div>
			<div class="imgHeader">
				<img th:src="@{/img/IMG_HEADER.jpg}">
			</div>
			<div class="imgHeaderRight"></div>
		</div>
		<section class="menu centrer">
			<a th:href="@{/clients/clientDashboard}" class="imgLogo">
				<!-- -------------ON NE TOUCHE PAS A LA CLASS imgO-------------------->
				<img class="imgLogoPlateo imgO" alt="logo Plateo" th:src="@{/img/LOGO-BD.png}">
				<img class="imgLogoText imgO" alt="logo textuel Plateo" th:src="@{/img/logo-texte-BD.png}">
			</a>
			<!-- <div id="fb-root"></div>
			<script async defer crossorigin="anonymous"
				src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v5.0&appId=2341701849412832&autoLogAppEvents=1"></script>
			<div class="fb-like" data-href="http://www.plateo.fr" data-width=""
				data-layout="standard" data-action="like" data-size="large"
				data-show-faces="true" data-share="true"></div> -->
			<nav>
				<ul class="menuUl">
					<li>
						<a th:href="@{/clients/proList}">
							<img class="imgO" th:src="@{/img/LOUPE.jpg}">
							<span>Rechercher un Pro</span>
						</a>
					</li>
					<div class="dropdown">
						<li>
							<a href="" class="texteDropDown"> <!-- th:href="@{/public/registration}" -->
								<img class="imgO" th:src="@{/img/DEVIS.jpg}">
								<span>Devis et factures</span>
							</a>
							<div class="dropdown-content">

								<a th:href="@{/clients/estimateRequest}">Demander un devis</a>
								<a th:href="@{/clients/estimatesAllRequestList}">Mes demandes de devis</a>
								<a th:href="@{/clients/estimatesAwaitingAcceptedList}">Mes devis</a>
								<a th:href="@{/clients/estimatesConvertedList}">Mes factures</a>

							</div>
						</li>
					</div>
					
					<!-- ----------------MODIFS------------------- -->
					<div class="dropdown" th:if="${#request.userPrincipal}">
						<li>
							<a href="" class="texteDropDown">
								<img class="imgO" th:src="@{/img/PROFIL.jpg}">
								<div>
									<span class="textName" th:text="${client.clientLastname}" />
									<span class="textName" th:text="${client.clientFirstname}" />
								</div>
							</a>
							<div class="dropdown-content">
								<a th:href="@{/clients/clientEdit/{id}(id=${client.id})}">
									Modifier mon profil
								</a>
								<form th:action="@{/clients/logout}" method="post">
									<button class="buttonFauxA" type="submit">Me déconnecter</button>
								</form>
							</div>
						</li>
					</div>
					<!-- ----------------FIN MODIFS------------------- -->
				</ul>
			</nav>
		</section>
		<div class="sousMenu"></div>
		<script type="text/javascript" th:src="@{/js/asupp.js}"></script>
	</header>
</body>
</html>
