<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"  lang="en" class=" js ">
<body>
	<header th:fragment="headerdashboard" id="header" role="banner" class="main-header">
		<div class="textedivimgHeader centrer white">PARTICULIER</div>
		<div class="divimgHeader">
			<div class="imgHeaderLeft"></div>
			<div class="imgHeader">
				<img th:src="@{/img/IMG_HEADER.jpg}">
			</div>
			<div class="imgHeaderRight"></div>
		</div>
		<section class="menu centrer">
			<a th:href="@{/clients/clientDashboard}" class="imgLogo"> <img class="imgLogoPlateo"
				alt="logo Plateo" th:src="@{/img/LOGO-BD.png}"> <img
				class="imgLogoText" alt="logo textuel Plateo"
				th:src="@{/img/logo-texte-BD.png}">
			</a>
			<nav>
				<ul class="menuUl">
					<li>
						<a th:href="@{/clients/proList}">
							<img th:src="@{/img/LOUPE.jpg}">
							<span>Rechercher un Pro</span>
						</a>
					</li>
					<div class="dropdown">
						<li>
							<a href="" class="texteDropDown"> <!-- th:href="@{/public/registration}" -->
								<img th:src="@{/img/DEVIS.jpg}">
								<span>Devis et factures</span>
							</a>
							<div class="dropdown-content">
								<a th:href="@{/clients/estimateRequest}">Demander un devis</a>

								<a th:href="@{/clients/estimatesRequestList}">Mes demandes de devis</a>
								<a th:href="@{/clients/estimatesAcceptedList}">Mes validations de devis</a>
								<a th:href="@{/clients/estimatesConvertedList}">Mes factures</a>

							</div>
						</li>
					</div>
					<li>
						<a href="">
							<img th:src="@{/img/COEUR.jpg}">
							<span>Mes Pro favoris</span>
					</a></li>
					<!-- ----------------MODIFS------------------- -->
					<div class="dropdown" th:if="${#request.userPrincipal}">
						<li>
							<a href="" class="texteDropDown">
								<img th:src="@{/img/PROFIL.jpg}">
								<div>
									<span class="textName" th:text="${client.clientLastname}" />
									<span class="textName" th:text="${client.clientFirstname}" />
								</div>
							</a>
							<div class="dropdown-content">
								<a th:href="@{/clients/clientEdit/{id}(id=${client.id})}">
									Modifier mon profil
								</a>
								<form th:action="@{/clients/logout}" method="post">
									<button class="buttonFauxA" type="submit">Me déconnecter</button>
								</form>
							</div>
						</li>
					</div>
					<!-- ----------------FIN MODIFS------------------- -->
				</ul>
			</nav>
		</section>
		<div class="sousMenu"></div>
		<script type="text/javascript" th:src="@{/js/asupp.js}"></script>
	</header>
</body>
</html>
