<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="public/head :: head"></head>
<head>
	<link th:href="@{/css/styleClient.css}" rel="stylesheet" type="text/css" >
</head>
<body>
	<header th:replace="/clients/header :: header"> </header>

	<div class="col-md-12">
		<div>
			<div>
			
				<form th:action="@{/clients/search}" method="get">
					<label for="recherche">Nom client</label> 
					<input type="text"  name="search" id="search" placeholder="Recherche" />
					<button type="submit">Rechercher</button>
				</form>
			</div><br>
		</div>
		<div>
			
		</div>
		<table class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Nom</th>
					<th>Prénom</th>
					<th>Email</th>
					<th>Mot de passe</th>
					<th>Téléphone</th>
					<th>Adresse</th>
					<th>Code Postal</th>
					<th>Ville</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="client : ${clients}">

					<td th:text="${client.nom}"></td>
					<td th:text="${client.prenom}"></td>
					<td th:text="${client.email}"></td>
					<td th:text="${client.mot_de_passe}"></td>
					<td th:text="${client.telephone}"></td>
					<td th:text="${client.adresse}"></td>
					<td th:text="${client.code_postal}"></td>
					<td th:text="${client.ville}"></td>

					<td><a th:href="@{/clients/edit/{id}(id=${client.id})}">Modifier</a></td>

					<td><a th:href="@{/clients/delete/{id}(id=${client.id})}" onclick="return(confirm('Etes-vous sûr de vouloir supprimer cette entrée'));" >Supprimer</a></td>
					
					<td><a th:href="@{/clients/PdfClient/{id}(id=${client.id})}">Pdf</a></td>
				</tr>
			</tbody>
		</table> 
	</div>
	<div class="row ">

		<div align="center" class="col-md-6">
			<form th:action="@{/logout}" method="post">
				<button class="btn" type="submit">Se Déconnecter</button>

			</form>
		</div>

		<div align="center" class="col-md-6">
			<a href="/index/" class="btn">Accueil Plateo</a>
		</div>

	</div>






</body>
</html>