<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="clients/head :: head">
</head>

<body>
	<header th:replace="header :: header">	
	</header>
	<section class="sectionNouvClient centrer">
		<div class="centrer carreBlanc">
			<form class="centrer sectionFormClient" action="#" th:action="@{/clients/add}" th:object="${client}" method="post">
				<div class="centrer sectionForm">
					<div class="formIdentifierLeft">
						<div class="form-group formIdentifier left">
							<label for="nom" class="col-form-label blue labelForm">Nom</label>
							<input type="text" id="nom" th:field="*{nom}" class="champsFormulaire"
										placeholder="Champs obligatoire" />
							<span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}" class="text-danger">
							</span>
						</div>
						<div class="form-group formIdentifier left">
							<label for="nom" class="col-form-label blue labelForm">Prénom</label>
							<input type="text" id="nom" th:field="*{nom}" class="champsFormulaire"
										placeholder="Champs obligatoire" />
							<span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}" class="text-danger">
							</span>
						</div>
						<div class="form-group formIdentifier left">
							<label for="email" class="col-form-label blue labelForm">Email</label>
							<input type="email" id="email" th:field="*{email}" class="champsFormulaire"
									placeholder="Champs obligatoire" />
							<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger">
							</span>
						</div>
						<div class="form-group formIdentifier left">
							<label for="mot_de_passe" class="col-form-label blue labelForm">Mot de passe</label>
							<input type="text" id="mot_de_passe" th:field="*{mot_de_passe}"
									class="champsFormulaire" placeholder="Champs obligatoire" />
							<span th:if="${#fields.hasErrors('mot_de_passe')}" th:errors="*{mot_de_passe}" class="text-danger">
							</span>
						</div>
					</div>
					<div class="formIdentifierRight">
						<div class="form-group formIdentifier left">
							<label for="adresse" class="col-form-label blue labelForm">Adresse</label>
							<input type="text" id="adresse" th:field="*{adresse}"
								class="champsFormulaire" placeholder="Saisir adresse" />
							<span th:if="${#fields.hasErrors('adresse')}" th:errors="*{adresse}" class="text-danger">
							</span>
						</div>
						<div class="form-group formIdentifier left">
							<label for="code_postal" class="col-form-label blue labelForm">Code Postal</label>
							<input type="text" id="code_postal" th:field="*{code_postal}"
								class="champsFormulaire" placeholder="Saisir code postal" />
							<span th:if="${#fields.hasErrors('code_postal')}" th:errors="*{code_postal}" class="text-danger">
							</span>
						</div>
						<div class="form-group formIdentifier left">
							<label for="ville" class="col-form-label blue labelForm">Ville</label>
							<input type="text" id="ville" th:field="*{ville}" class="champsFormulaire"
								placeholder="Saisir ville" />
							<span th:if="${#fields.hasErrors('ville')}" th:errors="*{ville}" class="text-danger">
							</span>
						</div>
						<div class="form-group formIdentifier left">
							<label for="telephone" class="col-form-label blue labelForm">Téléphone</label>
							<input type="text" id="telephone" th:field="*{telephone}"
								class="champsFormulaire" placeholder="Saisir numéro de téléphone" />
							<span th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}" class="text-danger">
							</span>
						</div>
					</div>
				</div>
				<div class="centrer sectionButton">
						<a href="/index">
							<button type="submit" class="btn bgGreyFonce MarginClient">Annuler</button>
						</a>
						<a href="">
							<button type="submit" class="btn bgOrange MarginClient">Valider</button>
						</a>
				</div>
			</form>
		</div>
		<div class="divVide"></div>
	</section>
	<footer th:replace="footer :: footer">
	</footer>
</body>
</html>
