<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="public/head :: head"></head>
<head>
<link th:href="@{/css/styleClient.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<header th:replace="clients/headerdashboard :: headerdashboard"></header>
	<h1 class="text-center" th:text="${profession.name}"></h1>
	<div class="list-group container">
		<a th:each="service,stat : ${services}"
			th:href="@{/clients/serviceRequest/} + ${profession.id} + '/' + ${service.id}" th:text="${service.name}"
			th:classappend="${(service.enabled? '' : 'disabled')}"
			class="list-group-item list-group-item-action list-group-item-primary"></a>
	</div>
	<footer th:replace="public/footer :: footer"></footer>
</body>
</html>