<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="public/head :: head"></head>
<head>
	<link th:href="@{/css/styleFormulaireClient.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/css/styleClient.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/css/designCss.css}" rel="stylesheet" type="text/css">
	
	<link rel="stylesheet" type="text/css" th:href="@{/ListDataTables/datatables.min.css}"/>
	<script type="text/javascript" th:src="@{/ListDataTables/datatables.min.js}"></script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			$('#proList').dataTable();
		} );
	</script>
</head>
<body>
    <header th:replace="clients/headerdashboard :: headerdashboard"></header>
    
    <section th:replace="public/proList :: sectionProlist"></section>
    
    <footer th:replace="public/footer :: footer"></footer>
    <script th:src="@{/js/scripts.js}"></script>
</body>
</html>