<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="/clients/head :: head">
</head>
<body>
	<header th:replace="/clients/header :: header"> </header>
<body>
	<div>
		<h3 align="center">Votre compte client à bien été créer</h3>
		<h3 align="center">Veuillez vous authentifiez pour accéder au site PLATEO</h3>
	</div>
	
	<div class="row">
		<div align="center" class="col-md-3"></div>
		<div align="center" class="col-md-3">
			<a href="/index" class="btn">Accueil</a>
		</div>

		<div align="center" class="col-md-3">
			<a href="/index" class="btn">Se Connecter</a>
		</div>
		<div align="center" class="col-md-3"></div>

	</div>
</body>
</html>