<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="/public/head :: head">
</head>
<body>
	<header th:replace="/public/headerblanck :: headerblanck"> </header>
<body>
	<div>
		<h3 align="center">L'accès à cette page vous est interdit</h3>
	</div>
	
	<div class="row">
		<div align="center" class="col-md-4"></div>
		<div align="center" class="col-md-4">
			<a href="/" class="btn bgOrange MarginClient">Accueil</a>
		</div>
		<div align="center" class="col-md-4"></div>

	</div>
</body>
</html>