<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
	<head  th:fragment="head">
<!---------------------------------------LINK CSS ------------------------------------->
		<link th:href="@{/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css}" rel="stylesheet">
		<link href="/static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
<!---------------------------------------SCRIPT JS ------------------------------------->			
		<script th:src="@{/webjars/jquery/3.4.1/dist/jquery.js}"></script>
		<script th:src="@{/webjars/popper.js/1.15.0/dist/popper.js}"></script>
		<script th:src="@{/webjars/bootstrap/4.3.1/dist/js/bootstrap.js}"></script>
		<script type="text/javascript" th:src="@{/js/script.js}"></script>
<!---------------------------------------META BALISES---------------------------------->			
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
		<meta name="description" content="ce qui apparaitra  pour le référencement sur Google"><!--  apparait entant que texte dans le référencement Google -->
		<title>PLATEO - la plateforme de mise en relation entre particuliers et professionnels du bâtiment</title> <!--  apparait entant que titre dans le référencement Google -->
	</head>
</html>
