<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="head :: head">
</head>

<body>
	<header th:replace="header :: header">--> </header>

	<section class="sectionIdentifier centrer">

		<div class="identifier centrer">
			<h1 class="blue">Identifiez-vous !!</h1>
			<form class="formIdentifier centrer">
				<input type="email" class="email" placeholder="Saisir adresse email">
				<input type="text" class="email" placeholder="Saisir mot de passe">
				<button class="btn">Valider</button>
			</form>

			<h2 class="greyClair">‒ ou ‒</h2>


			<a href="/clients/new_client"><h4 class="greyClair">‒ Créer	un compte Client ‒</h4></a>
			<a href="/pro/proForm"><h4 class="greyClair">‒ Créer	un compte Pro ‒</h4></a>

		</div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>

	</section>

	<footer> </footer>

</body>